@import "../../scss/variables.scss";

.h1-image-container,
img,
.filter-color,
h1 {
  line-height: 0;
  height: 50vh;
  width: 100%;
}

.h1-image-container {
  img {
    z-index: $z-index;
  }
  .filter-color {
    z-index: $z-index + 1;
    top: -50vh;
  }
  h1 {
    top: -100vh;
    z-index: $z-index + 2;
  }
}
