<app-h1 titleChild="Nos Ateliers"
        [backgroundImageChild]="backgroundImageParent"></app-h1>

<section>
  <h2>
    Ateliers biblio-créatifs
  </h2>
  <p>
    Les ateliers biblio-créatifs que je propose sont issus des disciplines de l'art-thérapie,
    de la bibliothérapie créative et de la psychologie positive; à la croisée entre un cercle
    de lecture et un atelier créatif. Ils ont un objectif de partage, de rencontre et
    d'expression créative dans des lieux bienveillants et accueillants comme les librairies,
    les cafés, les bibliothèques, les salles privées de co-working ou encore la nature lorsque
    le temps le permet, ainsi que le medium artistique choisi. Ces ateliers ne sont pas à
    caractère thérapeutique, ne promettent pas de soigner ni de permettre d'aller mieux.
    Cependant, de par la joie, les émotions exprimées et les liens humains créés,
    il est possible que ces moments apportent du bien-être et de la convivialité aux participants.
  </p>
  <p>
    L'atelier possède un thème et un texte choisis au préalable par l'animateur.
    Le but est que ce texte touche un maximum de personnes et de sensibilités différentes,
    qu'il soit le plus possible universel dans la thématique. Celui-ci est lu à haute voix,
    les participants s'en emplissent pendant un instant. Un moment est consacré à l'échange
    des ressentis à propos du texte, puis vient la phase créative avec une création réalisée
    par chacun à partir de ses ressentis et envies. Les disciplines artistiques peuvent varier,
    l'une d'elle est choisie et indiquée par l'animateur (dessin, écriture, peinture, land art...).
    Un atelier s'étend sur 2h de temps avec un maximum de 10 personnes, à la ville de Lyon et
    ses environs essentiellement.
  </p>
  <p>Chacun repart avec sa création et ses souvenirs!</p>
  <p>Pour plus d'informations ou questions, n'hésitez pas à me contacter!</p>
  <p>Loryane Utaida</p>
</section>

<h3>A venir</h3>

@if(workshopsWithDateToCome$() && workshopsWithDateToCome$().length > 0) {
  <div class="workshops flex wrap space-around">
    @for(workshop of workshopsWithDateToCome$(); track workshop) {
        <app-workshop-thumbnail [workshop]="workshop"
                                [disponibility]="inscriptionsReservedByWorkshopSlug(workshop.slug)"/>
    }
  </div>
} @else {
  <h3>Aucun Atelier à venir</h3>
}

<h3>Passé(s)</h3>

<app-change-size-pagination-and-value-search (onValueSearchChange)="onValuePageChange($event)"/>

@if(workshopsWithPastDate$() && workshopsWithPastDate$().length > 0) {
  <div class="workshops flex wrap space-around">
    @for(workshop of workshopsWithPastDate$(); track workshop) {
      <app-workshop-thumbnail [workshop]="workshop"
                             [disponibility]="inscriptionsReservedByWorkshopSlug(workshop.slug)"/>
    }
  </div>

  <app-change-page-buttons-pagination (onPageChange)="onValuePageChange($event)"/>

} @else {
  <h3>Pas d'Atelier passé</h3>
}
