<app-h1 [titleChild]="titleParentNotebooks" [backgroundImageChild]="backgroundImageParentNotebooks"/>
<h2>Tous nos modèles</h2>

<!--<div class="category-title-and-btns flex column space-around">-->
<!--  <h4>Categories</h4>-->

<!--  <div class="categories-btns flex wrap">-->
<!--    @for (category of categories$(); track category) {-->
<!--      <button class="btn-filter"-->
<!--              (click)="onCategoryClicked(category)"-->
<!--              [ngClass]="{'btn-filter-active' : category.name === categorySelected?.name}">-->
<!--        {{ category.name }}-->
<!--      </button>-->
<!--    }-->
<!--  </div>-->
<!--</div>-->

<!--<div class="collection-title-and-btns flex column">-->
<!--  <h4>Collections</h4>-->

<!--  <div class="collections-btns flex wrap">-->
<!--    @for (collection of collections$(); track collection) {-->
<!--      <button class="chips"-->
<!--              (click)="onCollectionClicked(collection)"-->
<!--              [ngClass]="{'chips-selected' : collection.name === collectionSelected?.name}">-->
<!--        {{ collection.name }}-->
<!--      </button>-->
<!--    }-->
<!--  </div>-->
<!--</div>-->

<app-shopping-notebooks-list/>
