@import "../../../scss/variables.scss";
@import "../../../scss/buttons.scss";
@import "../../../scss/chips.scss";

.collection-title-and-btns,
.category-title-and-btns {
  width: 100%;

  h4 {
    text-align: center;
  }
  .categories-btns,
  .collections-btns {
    width: 100%;
    gap: 8px;
    .btn-filter {
      margin: 0;
    }
  }
}

// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {
}
// Tablettes vers ordinateurs portables :
@media screen and (min-width: 992px) {
}

// Ordinateurs portables vers ordinateurs de bureau :
@media screen and (min-width: 1400px) {
}
