@use "../../../scss/variables.scss" as variablesScss;

.review-container {
  @include variablesScss.outline-picture;
  width: 100%;
  height: max-content;
  margin-bottom: variablesScss.$half-margin;
  background-color: variablesScss.$white;

  .review-user-stars {
    border: 1px solid variablesScss.$lilac-light;
    border-radius: 8px 8px 0 0;
    width: 100%;
    background-color: variablesScss.$lilac-light-opacity-low;

    .review-customer,
    .stars-rating {
      margin: calc(#{variablesScss.$half-margin} / 2);
      .star-container {
        i {
          cursor: auto;
        }
      }
    }
  }

  .review-content {
    margin: calc(#{variablesScss.$half-margin} / 2);
    @include variablesScss.hiddenTextByLineNumber(3);
  }

  .full-content {
    display: block;
    max-height: max-content;
  }
}

// Tablettes vers ordinateurs portables :
@media screen and (min-width: 992px) {
  .review-container {
    .review-content {
      min-height: 50px;
    }
  }
}
