  <app-h1 [titleChild]="(productType$() | enumProductTypeFormat:'plural' | titlecase) + '...'" [backgroundImageChild]="backgroundImageParentCreations"/>

  <section class="flex column center">

    <h2 class="color-black"> {{ productType$() | enumProductTypeFormat:'plural' | titlecase }} {{ productType$() === 'carnets' ? 'illustrés faits main' : '' }}</h2>

    <p>Bienvenue !</p>
    <p>Pour vous organiser, vous détendre, égayer votre quotidien,
      ou simplement garder une trace de vos moments inoubliables,
      vous trouverez à l'atelier votre prochain agenda, album photos,
      bullet journal, carnet d’aquarelle, de croquis, de notes,
      ou de partition.</p>

    <h3>Artisanat Responsable</h3>

    <p> Chaque modèle que nous fabriquons à la main est un hommage
      à l'artisanat authentique. Avec un engagement profond envers
      l'éco-responsabilité, chaque page est méticuleusement
      confectionnée pour stimuler votre créativité tout en respectant
      notre précieuse planète.</p>

    @if (categoriesDto$().length > 0) {
      <h4>Catégories :</h4>
      <div class="categories-buttons width100 flex wrap space-around">
        @for (categoryDto of categoriesDto$(); track categoryDto; let index = $index) {
          <div class="category-img-title" (click)="onCategorySelected(categoryDto)">
            <img class="img-circle"
                 [ngClass]="{'active' : isCategorySelected(categoryDto)}"
                 src="{{fileService.getDataForImageSrc(categoryDto.pictureDto)}}" alt="image secondaire du carnet">
            <p class="width100 desktop-only"> {{ categoryDto.name }} </p>
          </div>
        }
      </div>
      @if (categorySelected) {
        <h5 class="mobile-only"> {{ categorySelected.name }} </h5>
        <div class="category-description" [innerHTML]="categorySelected.description"></div>
      }
    }

    @if (collectionsDto$().length > 0) {
      <h4>Collections :</h4>
      <div class="dropdown-container" [ngClass]="{'pointer' : categorySelected}">
        <div class="input-and-arrow flex">
<!--      La liste des collections ne s'affiche que si une catégorie à été sélectionnée-->
          @if (categorySelected) {
          <input type="text"
                 placeholder="Choississez la collection..."
                 autocomplete="off"
                 class="pointer"
                 value="{{ collectionSelected?.name | titlecase }}"
                 (click)="toggleDropdown('Collection')"
                 readonly/>
          } @else {
            <input type="text"
                   placeholder="Selectionnez une Catégorie ..."
                   autocomplete="off"
                   class="disabled"
                   readonly/>
          }
          <div class="arrow-icon flex center" (click)="toggleDropdown('Collection')">
            @if (!categorySelected) {
              <i class="fa-solid fa-circle-chevron-up disabled"></i>
            } @else {
              @if (isCollectionDropdownOpen) {
                <i class="fa-solid fa-circle-chevron-down pointer"></i>
              } @else {
                <i class="fa-solid fa-circle-chevron-up pointer"></i>
              }
            }
          </div>
        </div>

<!--    La liste des collections ne s'affiche que si une catégorie à été sélectionnée-->
        @if (categorySelected) {
          <ul class="items-list" [ngClass]="{'dropdown-visible': isCollectionDropdownOpen}">
            @for (collection of collectionsDto$(); track collection) {
              @if (isCategoryOrCollectionPresent(collection)) {
                <li (click)="onCollectionSelected(collection); toggleDropdown('Collection') ">
                  {{ collection.name | titlecase }}
                </li>
              }
            }
          </ul>
        }
      </div>
    }

    @if (productsDto$() && categorySelected) {
      @if (productsDto$().length === 0) {
        <h4>Aucun modèle correspondant à ces critères</h4>
      } @else if (productsDto$().length === 1) {
        <h4>1 modèle :</h4>
      } @else {
        <h4>Nos Modèles :</h4>
      }
      <app-products-list class="flex wrap width100 space-around"/>
    }

  </section>

