@import "../../scss/variables.scss";
@import "../../../styles.scss";

:root {
  --height-footer: 0px;
}

footer {
  margin-top: $normal-margin;
  height: 60px;
  background-color: $lilac;
  i {
    color: $white;
    font-size: $triple-font-size;
  }
}

@media screen and (min-width: 768px) {
}
// Tablettes vers ordinateurs portables :
@media screen and (min-width: 992px) {
}

// Ordinateurs portables vers ordinateurs de bureau :
@media screen and (min-width: 1400px) {
}
