@import "../../scss/variables.scss";
@import "../../scss/buttons.scss";

:root {
  --news-container-width: 0px;
}

.news-headband {
  overflow-x: hidden;
  flex-direction: column;

  .fixed-text {
    padding: 0 $normal-padding;
    background-color: $lilac;
    color: $white;
    font-size: $double-font-size;
    text-align: center;
    z-index: $z-index + 1;
  }

  .rolling-news {
    position: relative;

    .section-rolling-news {
      border-left: 4px solid $lilac;
      min-width: 100vw;
      animation: 20s slide infinite linear;
      p {
        border-left: 1px solid $lilac;
        padding: 0 $normal-padding;
        span {
          padding-left: $normal-padding;
        }
      }
    }
  }
  .rolling-news:before,
  .rolling-news:after {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    content: "";
    z-index: 2;
  }
}

@keyframes slide {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(calc(0px - (var(--news-container-width)) / 1/6 ));
  }
}

// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {
  .news-headband {
    .rolling-news {
      .section-rolling-news {
        min-width: 650px;
      }
    }
  }
}

// Tablettes vers ordinateurs portables :
@media screen and (min-width: 992px) {
  .news-headband {
    .rolling-news {
      .section-rolling-news {
        min-width: 800px;
      }
    }
  }
}

// Ordinateurs portables vers ordinateurs de bureau :
@media screen and (min-width: 1400px) {
  .news-headband {
    .rolling-news {
      .section-rolling-news {
        min-width: 1000px;
      }
    }
  }
}
