@import "../../scss/variables.scss";
@import "../../scss/buttons.scss";
@import "../../../styles.scss";

:root {
  --news-container-width: 0px;
}

.news-headband {
  overflow-x: hidden;
  flex-direction: column;
  width: 100vw;

  .fixed-text {
    padding: 0 $normal-padding;
    background-color: $lilac;
    color: $white;
    font-size: $double-font-size;
    text-align: center;
    z-index: $z-index + 1;
  }

  .rolling-news {
    .fa-circle-left {
      padding-left: $double-padding;
    }
    p{
      padding: 0 $normal-padding;
    }
    .fa-circle-right {
      padding-right: $double-padding;
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(calc(0px - (var(--news-container-width))));
  }
}

// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {
  .news-headband{
    max-width: 650px;
  }
}

// Tablettes vers ordinateurs portables :
@media screen and (min-width: 992px) {
}

// Ordinateurs portables vers ordinateurs de bureau :
@media screen and (min-width: 1400px) {
}
