<div class="title-functionality flex center">
  <h4>Créer une nouvelle Carte Cadeau</h4>
  <i class="fa-solid fa-circle-plus"
    (click)="isFormVisible = !isFormVisible"
    [ngClass]="{'rotated45': isFormVisible}"></i>
</div>

@if(isFormVisible) {
  <form (ngSubmit)="(newGiftcardForm.valid)"
        [formGroup]="newGiftcardForm"
        #myForm="ngForm">
    <fieldset class="flex column">
      <label for="name">Code :</label>
      <input type="text"
            id="code"
            placeholder="Code..."
            formControlName="code"
            autocomplete="off"/>

      @if(isFormSubmit && myForm.submitted && newGiftcardForm.controls['code'].invalid) {
        <div>
          @if(newGiftcardForm.controls.code.errors?.['required']) {
            <small>Le code est obligatoire.</small>
          } @else if(newGiftcardForm.controls.code.errors?.['maxlength']) {
            <small>Le code ne doit pas dépasser 50 charactères.</small>
          }
        </div>
      }

    </fieldset>

    <fieldset class="flex column">
      <label for="name">Quel type de réduction ?</label>
      <div class="flex">
        <p>Fixe ( € )</p>
        <div class="toggle-switch" (click)="changePercentageBoolean()">
          <input class="toggle-input"
                type="checkbox"
                [checked]="isPercentage">
          <label class="toggle-label" for="toggle"></label>
        </div>
        <p>( % ) Pourcentage</p>
      </div>
    </fieldset>

    <fieldset class="flex column">
      <label for="rising">Quel {{ isPercentage ? 'pourcentage en %' : 'montant en €' }} ?</label>
      <input type="number"
            id="rising"
            formControlName="rising"
            placeholder="0"/>
      @if(isFormSubmit && newGiftcardForm.controls['rising'].invalid) {
      <div>
        @if(newGiftcardForm.controls.rising.errors?.['required']) {
          <small>Le {{ isPercentage ? 'Pourcentage' : 'Montant' }} est obligatoire.</small>
        } @else if(newGiftcardForm.controls.rising.errors?.['invalidPriceFormat']) {
          <small>Le {{ isPercentage ? 'Pourcentage' : 'Montant' }} doit avoir 2 chiffres après la virgule ' 9,99 '.</small>
        } @else if(newGiftcardForm.controls.rising.errors?.['invalidPrice']) {
          <small>Le {{ isPercentage ? 'Pourcentage' : 'Montant' }} ne peut pas être inférieur à 0€.</small>
        }
      </div>
      }

    </fieldset>

    <fieldset class="flex column">
      <label for="expiryDate">Date d'expiration :</label>
      <input type="date"
            id="expiryDate"
            formControlName="expiryDate">
      @if(isFormSubmit && myForm.submitted && newGiftcardForm.controls['expiryDate'].invalid) {
        <div>
          @if(newGiftcardForm.controls.expiryDate.errors?.['required']) {
            <small>La date est obligatoire.</small>
          } @else if(newGiftcardForm.controls.expiryDate.errors?.['pastDate']) {
            <small>La date ne peut pas être une date passée.</small>
          }
        </div>
      }

    </fieldset>

    <button class="btn-submit-admin"
            type="submit"
            (click)="submitNewGiftCardForm()">
      Créer
    </button>
  </form>
}
