<nav class="flex column center width100" #navBar>
  <div class="flex space-between width100 max-width center">
    <input type="checkbox" id="checkbox" #menuCheckbox (click)="changeMenuBurgerVisibility()" />
    <label for="checkbox" class="toggle">
      <div class="bars" id="bar1"></div>
      <div class="bars" id="bar2"></div>
      <div class="bars" id="bar3"></div>
      <div class="bars" id="bar4"></div>
    </label>
    <div class="desktop-only"></div>

    <img src="../../../assets/images/icon-thumbnail.png"
         alt="Logo du site VitaLitté"
         class="pointer desktop-only"
         routerLink="/"/>
    <img src="../../../assets/images/icon-thumbnail.png"
         alt="Logo du site VitaLitté"
         class="pointer mobile-only"
         routerLink="/"/>

    <div class="shopping-cart-counter"
         [ngClass]="shoppingCart.counterTotalShoppingCart() > 0 ? 'visible-linear' : 'invisible-linear'">
      <i class="fa-solid fa-basket-shopping pointer" (click)="changeModalShoppingCartVisibility(!isShoppingCartListOpen)"></i>
      <p class="flex center pointer" (click)="changeModalShoppingCartVisibility(!isShoppingCartListOpen)"> {{ shoppingCart.counterTotalShoppingCart() }} </p>
    </div>
  </div>

  <ul
    class="flex center space-around"
    [ngClass]="
      isMenuBurgerChecked && !initialLoad
        ? 'menu-burger-visible'
        : !isMenuBurgerChecked && !initialLoad
        ? 'menu-burger-hidden'
        : '' ">
    @for (item of navbarUser; track item; let index = $index) {
      <li [routerLink]="item.submenu ? null : item.routerLink"
          class="flex center column pointer"
          [ngClass]="{'active': isActualPage(item.routerLink)}"
          (click)="item.submenu ?
                    openSubmenu(item) :
                    closeMenuBurger($event) ">
        <p class="flex center line-nowrap"
          [ngClass]="{
            'active': isActualPage(item.routerLink),
            'submenu-close' : item.submenu && item.submenu.isOpen }">
          {{ item.name }}
          @if (item.submenu && item.submenu.isOpen) {
            <i class="fa-solid fa-chevron-down"></i>
          } @else if (item.submenu && !item.submenu.isOpen) {
            <i class="fa-solid fa-chevron-up"></i>
          }
        </p>
        @if (item.submenu) {
          <div class="flex center space-around submenu"
              [ngClass]="item.submenu.isOpen ? '' : 'close' ">

              @for (subItem of item.submenu!.items; track subItem) {
                <a class="flex center"
                  [href]="item.routerLink + subItem.routerLink"
                  (click)="closeMenuBurger($event)">
                  {{ subItem.name }}
                </a>
              }
          </div>
        }
      </li>
    }

  </ul>

<!--  @if (!env.production) {-->
<!--    <p> <em>Env. Front : {{ environment | titlecase }}</em></p>-->
<!--  }-->

  @if (isShoppingCartListOpen) {
    <app-modal-shopping-cart-list (click)="isShoppingCartListOpen = !isShoppingCartListOpen"/>
  }
</nav>
