<nav class="flex space-between center" #navBar>
  <img
    src="../../../assets/images/figma/icone.png"
    alt="Logo du site VitaLitté"
  />
  <h3 class="flex"
      [routerLink]="'/'">VitaLitté</h3>
  <div class="shopping-cart-counter"
      [ngClass]="shoppingCartService.counterTotalShoppingCart() > 0 ? 'visible-linear' : 'invisible-linear'">
    <i class="fa-solid fa-cart-shopping"></i>
    <p class="flex center">{{shoppingCartService.counterTotalShoppingCart()}}</p>
  </div>
  <ul
    class="flex center space-around"
    [ngClass]="
      isMenuBurgerChecked && !initialLoad
        ? 'menu-burger-visible'
        : !isMenuBurgerChecked && !initialLoad
        ? 'menu-burger-hidden'
        : '' ">
    <li
      *ngFor="let item of navbarUser; let index = index"
      [routerLink]="item.submenu ? null : item.routerLink"
      class="flex center column pointer"
      [ngClass]="{
        'active': item.routerLink === activePageService.activePage,
        'separator': index !== navbarUser.length - 1 }"
      (click)="item.submenu ?
                openSubmenu(item) :
                closeMenuBurger(menuCheckbox, item.routerLink, $event) ">
      <p class="flex center"
         [ngClass]="{
          'active': item.routerLink === activePageService.activePage,
          'submenu-close' : item.submenu && item.submenu.isOpen }">
         {{ item.name }}
      </p> 
      <div 
        class="flex center space-around submenu"
        *ngIf="item.submenu"
        [ngClass]="item.submenu.isOpen ? '' : 'close' ">
        <a class="flex center"
          *ngFor="let subItem of item.submenu.items"
          [href]="item.routerLink + '#' + subItem.anchor"
          (click)="closeMenuBurger(menuCheckbox, item.routerLink, $event)">
          {{subItem.name}}
        </a>
      </div>
    </li>
  </ul>
  <input type="checkbox" id="checkbox" #menuCheckbox (click)="changeMenuBurgerVisibility()" />
  <label for="checkbox" class="toggle">
    <div class="bars" id="bar1"></div>
    <div class="bars" id="bar2"></div>
    <div class="bars" id="bar3"></div>
    <div class="bars" id="bar4"></div>
  </label>
</nav>
