@import "../../scss/variables.scss";
@import "../../scss/buttons.scss";

.contact-page{
  section {
    flex-direction: column;
    iframe{
      margin-top: $triple-padding;
      @include outline-picture;
      height: 400px;
      width: 80vw;
      max-width: 500px;
    }
  }

}

// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {
}
// Tablettes vers ordinateurs portables :
@media screen and (min-width: 992px) {
  .contact-page{
    section {
      width: 100vw;
      max-width: 650px;
      flex-direction: row;
      iframe{
        max-height: 320px;
        max-width: 320px;
      }
    }
  }
}

// Ordinateurs portables vers ordinateurs de bureau :
@media screen and (min-width: 1400px) {
}
