@use "../../scss/variables.scss" as variablesScss;
@use "../../scss/buttons.scss";

section {
  flex-direction: column;
  .infos {
    * {
      justify-content: center;
    }
    .mobile-only {
      display: flex;
    }
    .desktop-only {
      display: none;
    }
    a {
      text-decoration: none;
      color: variablesScss.$black;
      font-family: Znikomit, sans-serif;
      font-size: 1.8rem;
      text-align: center;
      line-height: 1.4em;
      letter-spacing: 2px;
    }
  }
  iframe {
    margin-top: variablesScss.$triple-padding;
    @include variablesScss.outline-picture;
    height: 400px;
    width: 80vw;
    max-width: 500px;
  }
}

// Tablettes vers ordinateurs portables :
@media screen and (min-width: 992px) {
  section {
    width: 100vw;
    max-width: var(--max-width);
    flex-direction: row;
    .infos {
      * {
        justify-content: flex-start;
      }
      .mobile-only {
        display: none;
      }
      .desktop-only {
        display: flex;
      }
    }
    iframe {
      max-height: 320px;
      max-width: 320px;
    }
  }
}
