<div class="title-functionality flex center">
  <h4 class="flex center">Gérer les Cartes Cadeaux</h4>
  <i class="fa-solid fa-arrow-down"
     (click)="isTableVisible = !isTableVisible"
     [ngClass]="{'rotated180': isTableVisible}">
  </i>
</div>

@if (giftCards() && giftCards().length > 0 && isTableVisible) {
  <table>
    <thead>
      <tr>
        <td>
          <p>Date Fin Validité</p>
        </td>
        <td>
          <p>Code</p>
        </td>
        <td>
          <p>Réduction</p>
        </td>
        <td>
          <p>Supp.</p>
        </td>
      </tr>
    </thead>

    <tbody>
      @for (giftCard of giftCards(); track giftCard; let index = $index) {
        <tr [ngClass]="index % 2 ? 'bg-dark' : ''">
          <td>
            <p class="flex text-left pointer" [routerLink]="'/admin/utilisateurs-carte-cadeaux/' + giftCard.code">
              {{ giftCard.expiryDate | date : 'dd/MM/yyyy' }}
            </p>
          </td>
          <td>
            <p class="title pointer" [routerLink]="'/admin/utilisateurs-carte-cadeaux/' + giftCard.code">
              {{ giftCard.code }}
            </p>
          </td>
          <td>
            <p class="pointer" [routerLink]="'/admin/utilisateurs-carte-cadeaux/' + giftCard.code">
              {{ giftCard.rising | number: '0.2' }}  {{ giftCard.percentage ? ' %' : ' €' }}
            </p>
          </td>
          <td>
            <i (click)="delete(giftCard)" class="fa-solid fa-trash-can pointer flex center"></i>
          </td>
        </tr>
      }
    </tbody>
  </table>
} @else if ((!giftCards() || giftCards().length < 1) && isTableVisible) {
  <h5>Aucune carte cadeau active</h5>
}
