@import "src/app/scss/variables.scss";
@import "src/app/scss/buttons.scss";
@import "src/app/scss/chips.scss";
@import "src/app/scss/dropdowns.scss";
@import "src/app/scss/forms.scss";

.categories-and-collections {
  width: 100%;
  flex-direction: column;

  .categories,
  .collections {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .categories-and-collections {
    flex-direction: row;

    .categories,
    .collections {
      width: 50%;
    }
  }
}
