@import "../../scss/variables.scss";

.shopping-notebooks-list {
  width: 100%;
  flex-direction: column;

  .categories-and-collections {
    width: 100%;
    flex-direction: column;

    .categories,
    .collections {
      width: 100%;
    }
  }

  .notebooks-list {
    margin: auto;
    gap: 32px;
    flex-direction: column;

    .notebook-container {
      width: 80%;

      img, .notebook-description {
        width: 50%;
        height: 260px;
      }

      img {
        height: 260px;
        width: 260px;
        object-fit: cover;
        @include outline-picture();
      }

      .notebook-description {
        padding: 0 $double-padding;

        h4 {
          font-weight: bold;
          width: 100%;
          text-align: center;
        }

        .shopping-cart-manager {
          width: 60%;
          p {
            display: inline-block;
          }
          .manage-icon {
            color: $lilac;
            background-color: $white;
            font-size: $triple-font-size;
            border-radius: 100%;
          }
          div {
            .fa-cart-shopping {
              transition: transform 0.2s;
              font-size: $fourth-font-size;
              @include text-shadow(2px, $lilac-light-opacity-low)
            }
          }
        }

        .shopping-cart-manager.pulse-add .fa-cart-shopping {
          animation: enterCart 0.2s ease-in-out;
        }

        .shopping-cart-manager.pulse-remove .fa-cart-shopping {
          animation: exitCart 0.2s ease-in-out;
        }
      }
    }

    hr {
      border: 4px solid $lilac-light-opacity-low;
      border-radius: 5px;
      box-shadow: 4px 4px 4px $lilac-dark-transparent;
      width: 80%;
    }
  }
}


// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {
  .shopping-notebooks-list {
    max-width: $max-width-768px;
    .notebook-container {
      .notebook-description {
        .notebook-introduction {
          background: linear-gradient(
              to bottom,
              rgba(0, 0, 0, 1),
              transparent
          ); /* Dégradé de haut en bas de noir à transparent */
          background-clip: text; /* Applique le dégradé au texte */
          -webkit-background-clip: text; /* Préfixe pour les anciens navigateurs Webkit */
          color: transparent;
          max-height: 60%;
          line-height: normal;
        }
        .shopping-cart-manager {
          .manage-icon {
            font-size: $double-font-size;
          }
          div {
            .fa-cart-shopping {
              font-size: $triple-font-size;
            }
          }
        }
      }
    }
  }
}

@keyframes exitCart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes enterCart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 992px) {
  .shopping-notebooks-list {
    max-width: $max-width-992px;
    .categories-and-collections {
      flex-direction: row;
      .categories,
      .collections {
        width: 50%;
      }
    }
    .notebooks-list {
      flex-direction: row;
      flex-wrap: wrap;
      .notebook-container {
        width: 46%;
        img, .notebook-description {
          height: 180px;
        }
        img {
          width: 120px;
        }

        .notebook-description {
          width: 100%;
          .shopping-cart-manager {
            width: 80%;
            .manage-icon {
              font-size: $double-font-size;
            }
            div {
              .fa-cart-shopping {
                font-size: $double-font-size;
              }
            }
          }
        }
      }
    }
  }
}
