<div class="shopping-notebooks-list flex column center">
  @if (categories() || collections()) {
    <div class="categories-and-collections flex center">
    @if (categories()) {
      <div class="categories flex column center">
        @if (categories().length > 1) {
          <h3 class="flex center">Catégories</h3>
        } @else if (categories().length > 0) {
          <h3 class="flex center">Catégorie</h3>
        }
        <div class="dropdown-container">
          <div class="input-and-arrow flex">
            <input type="text"
                   class="pointer"
                   (click)="toggleDropdown('Category')"
                   [value]="categorySelected ? categorySelected.name : 'Toutes'"
                   readonly/>
            <div class="arrow-icone flex center">
              @if (isCategoryDropdownOpen) {
                <i class="fa-solid fa-circle-chevron-down pointer" (click)="toggleDropdown('Category')"></i>
              } @else {
                <i class="fa-solid fa-circle-chevron-up pointer" (click)="toggleDropdown('Category')"></i>
              }
            </div>
          </div>

          <ul class="items-list" [ngClass]="{'dropdown-visible': isCategoryDropdownOpen}">
            <li (click)="onCategorySelected(null); toggleDropdown('Category') ">
              Toutes
            </li>
            @for (category of categories(); track category) {
              <li (click)="onCategorySelected(category); toggleDropdown('Category') ">
                {{ category.name | titlecase }}
              </li>
            }
          </ul>
        </div>
      </div>
    }

    @if (categories()) {
      <div class="collections flex column center">
        @if (collections().length > 1) {
          <h3 class="flex center">Collections</h3>
        } @else if (collections().length > 0) {
          <h3 class="flex center">Collection</h3>
        }
        <div class="dropdown-container">
          <div class="input-and-arrow flex">
            <input type="text"
                   class="pointer"
                   (click)="toggleDropdown('Collection')"
                   [value]="collectionSelected ? collectionSelected.name : 'Toutes'"
                   readonly/>
            <div class="arrow-icone flex center">
              @if (isCollectionDropdownOpen) {
                <i class="fa-solid fa-circle-chevron-down pointer" (click)="toggleDropdown('Collection')"></i>
              } @else {
                <i class="fa-solid fa-circle-chevron-up pointer" (click)="toggleDropdown('Collection')"></i>
              }
            </div>
          </div>

          <ul class="items-list" [ngClass]="{'dropdown-visible': isCollectionDropdownOpen}">
            <li (click)="onCollectionSelected(null); toggleDropdown('Collection') ">
              Toutes
            </li>
            @for (collection of collections(); track collection) {
              <li (click)="onCollectionSelected(collection); toggleDropdown('Collection') ">
                {{ collection.name | titlecase }}
              </li>
            }
          </ul>
        </div>
      </div>
    }
    </div>
  }
  <h3 class="flex center">Liste des modèles</h3>
  <div class="notebooks-list flex center">
    @for (notebook of notebooks() | filterNotebooks : categorySelected : collectionSelected; track notebook; let index = $index) {
      <div class="notebook-container flex space-around">
        <img src="{{ notebook.pictureThumbnail }}"
             alt="Image du Carnet {{ notebook.name }}"
             [routerLink]="'/carnets/' + notebook.slug"
             class="pointer">
        <div class="notebook-description flex column center space-between">
          <h4> {{ notebook.name | titlecase }} </h4>
          <p> {{ notebook.price | number: '0.2' }} €</p>
          <p class="desktop-only notebook-introduction" [innerHTML]="notebook.introduction"></p>
          <div class="shopping-cart-manager flex center space-around" [ngClass]="{'pulse-add': quantityIncreased && cartToAnimate === notebook.slug, 'pulse-remove': quantityDecreased && cartToAnimate === notebook.slug}">
            <i class="fa-solid fa-circle-minus manage-icon pointer" (click)="increase(notebook)"></i>
            <div class="flex column center">
              <p> {{ shoppingCart.counterQuantity(notebook, 'notebooks') }} </p>
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
            <i class="fa-solid fa-circle-plus manage-icon pointer" (click)="decrease(notebook)"></i>
          </div>
        </div>
      </div>
      @if (index + 1 < notebooks().length) {
        <hr class="mobile-only"/>
      }
    }
  </div>
</div>
