@import "../../../scss/variables.scss";
@import "../../../scss/buttons.scss";
@import "../../../../styles.scss";

h2 {
  width: 100%;
}
p {
  font-size: $triple-font-size;
}
.components-list-and-component-description {
  width: 100%;
  flex-direction: column;
  .components-list,
  .component-description {
    width: 100%;
  }
  .components-list {
    flex-direction: row;
    h3 {
      margin: 0;
    }
    div {
      flex-direction: row;
      p {
        margin-left: 4px;
      }
    }
  }
  .component-description {
    .material-img {
      max-width: 100%;
      height: 400px;
      object-fit: contain;
    }
  }
}

// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {
}

// Tablettes vers ordinateurs portables :
@media screen and (min-width: 992px) {
}

// Ordinateurs portables vers ordinateurs de bureau :
@media screen and (min-width: 1400px) {
}
