<app-h1 [titleChild]="(notebookSelected ? notebookSelected.name : '').toUpperCase()" [backgroundImageChild]="notebookSelected ? notebookSelected.picture : 'https://i.ibb.co/PtWCfpG/carnet01.jpg'"/>

@if (notebookSelected) {
  @if (notebookSelected.name) {
    <h2 class="flex center">Carnet : {{ notebookSelected.name | titlecase }}</h2>
  }

  @if (notebookSelected.introduction) {
    <div [innerHTML]="notebookSelected.introduction"></div>
  }

  @if (notebookSelected.description) {
    <div [innerHTML]="notebookSelected.description"></div>
  }

  <div class="shopping-cart-manager flex center space-around" [ngClass]="{'pulse-add': quantityIncreased, 'pulse-remove': quantityDecreased}">
    <i class="fa-solid fa-circle-minus manage-icon pointer" (click)="decrease(notebookSelected)"></i>
    <div class="flex column center">
      <p> {{ shoppingCart.counterQuantity(notebookSelected, 'notebooks') }} </p>
      <i class="fa-solid fa-cart-shopping"></i>
    </div>
    <i class="fa-solid fa-circle-plus manage-icon pointer" (click)="increase(notebookSelected)"></i>
  </div>

  @if (notebookSelected.materialsDto.length > 0) {
    <div class="components-list-and-component-description flex">
      <div class="components-list flex">
        <h3 class="flex text-left line-nowrap">Composants : </h3>
        <div class="flex wrap">
          @for (material of notebookSelected.materialsDto; track material; let last = $last) {
            <p class="flex center text-left line-nowrap pointer"
               (click)="onClickMaterial(material)">
              {{ material.name | titlecase}} ({{ material.materialType | titlecase }})
              <span class="mobile-only">{{ !last ? ', ' : '.' }}</span>
            </p>
          }
        </div>
      </div>
      @if (materialSelected) {
        <div class="component-description flex column">
          <h4> {{ materialSelected.name | titlecase }} </h4>
          <img class="material-img"
               src="{{materialSelected.pictureThumbnail}}"
               alt="image du matériel {{materialSelected.name}} pour la composition du carnet {{notebookSelected.name}}">
          <div [innerHTML]="materialSelected.description"></div>
        </div>
      }
    </div>
  }
}
