<app-h1 [titleChild]="(productDto ? productDto.name : '').toUpperCase()"
        [backgroundImageChild]="productDto ? productDto.picture : 'https://i.ibb.co/PtWCfpG/carnet01.jpg'"
        xmlns="http://www.w3.org/1999/html"/>

@if (productDto) {
  @if (productDto.name) {
    <h2 class="flex center"> {{ productDto.productType | enumProductTypeFormat:'singular' | titlecase }} : {{ productDto.name | titlecase }} </h2>
  }

  <app-cart-item-quantity-manager [product]="{item:productDto, quantity:shoppingCart$.counterQuantity(productDto, 'products')}"/>

  <div class="product-btns-choices flex row width100 space-around">
    <button class="btn-filter"
            [ngClass]="{'btn-filter-active': userChoice === 'presentation'}"
            (click)="userChoice = 'presentation'"> Présentation </button>
    <button class="btn-filter"
            [ngClass]="{'btn-filter-active': userChoice === 'reviews'}"
            (click)="userChoice = 'reviews'">
      Avis <i class="fa-solid fa-star"></i>
    </button>
  </div>

  <section class="flex two-choices-pages"
           [ngClass]="{'first-choice-visible': userChoice === 'presentation',
                       'second-choice-visible': userChoice === 'reviews'}">

    <div class="first-choice-container flex center column" #presentation>
      <div class="first-choice-content">
        @if (productDto.introduction) {
          <div [innerHTML]="productDto.introduction"></div>
        }

        @if (productDto.description) {
          <div [innerHTML]="productDto.description"></div>
        }
        @if (productDto.materialsDto.length > 0) {
          <div class="materials-list-and-description flex width100">
            <div class="materials-list flex wrap">
              <h3 class="flex text-left line-nowrap">Composants : </h3>
              @for (material of productDto.materialsDto; track material; let last = $last) {
                <p class="flex text-left line-nowrap pointer"
                   (click)="onClickMaterial(material)">
                  {{ material.name | titlecase}} ({{ material.materialType | titlecase }})
                  <span class="mobile-only">{{ !last ? ',&nbsp;' : '.' }}</span>
                </p>
              }
            </div>
            @if (materialSelected) {
              <div class="material-description flex column">
                <h4> {{ materialSelected.name | titlecase }} </h4>
                <img src="{{ materialSelected.pictureThumbnail }}"
                     alt="image du matériel {{ materialSelected.name }} pour la composition du {{ productDto.productType | enumProductTypeFormat:'singular' }} {{ productDto.name }}">
                <div class="flex column width100 text-left" [innerHTML]="materialSelected.description"></div>
              </div>
            }
          </div>
        }
      </div>
    </div>

    <div class="second-choice-container flex column center" #reviewsSection>
      <div class="second-choice-content">
        <p>Filtrer par :</p>
        <div class="stars-filter flex width100 space-around">
          @for (number of VITALITTE_PROJECT.front.rating; track number) {
            <p class="flex center" (click)="filterReviewsByRating(number)">
              {{ number }} <i class="fa-solid fa-star" [ngClass]="{'star-active' : ratingSelected$() && ratingSelected$() >= number}"></i>
            </p>
          }
        </div>

        @if (reviews$().length < 1) {
          <p> Il n'y a pas encore d'avis pour ce {{ productDto.productType | enumProductTypeFormat:'singular' }}, soyez le (la) premier(ère) à en laisser un !</p>
        } @else {

          <app-change-size-pagination-and-value-search [isInputSearchHidden]="true" (onValueSearchChange)="onValuePageChange($event)"/>

          <app-review-thumbnail/>

          <app-change-page-buttons-pagination (onPageChange)="onValuePageChange($event)"/>
        }

        <app-post-review-form/>
      </div>
    </div>
  </section>
}
