@import "src/app/scss/variables.scss";
@import "src/app/scss/buttons.scss";

app-cart-item-quantity-manager {
  width: 100%;
}

.product-btns-choices {
  margin: $normal-margin 0;
  .btn-filter-active {
    i {
      color: $orange-light;
    }
  }
}

.two-choices-pages {
  .first-choice-container {
    .first-choice-content {
      .materials-list-and-description {
        flex-direction: column;
        .materials-list {
          flex-direction: row;
          width: 100%;
          h3 {
            margin: $half-margin 0;
          }
          p {
            margin-left: 4px;
          }
        }
        .material-description {
          margin-top: $half-margin;
          width: 100%;
          h4 {
            font-weight: bold;
            font-size: $triple-font-size;
          }
          img {
            max-width: 100%;
            height: 400px;
            background-color: red;
          }
        }
      }
    }
  }
  .second-choice-container {
    .second-choice-content {
      .stars-filter {
        p {
          i {
            margin-left: 8px;
          }
          .star-active {
            color: $orange;
          }
        }
      }
    }
  }
}

.text-left {
  text-align: left;
}

// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {
}

// Tablettes vers ordinateurs portables :
@media screen and (min-width: 992px) {
  .two-choices-pages {
    .second-choice-container {
      .second-choice-content {
        .reviews {
          app-review-thumbnail {
            max-width: 40%;
          }
        }
      }
    }
  }
}

// Ordinateurs portables vers ordinateurs de bureau :
@media screen and (min-width: 1400px) {
  .two-choices-pages {
    .second-choice-container {
      .second-choice-content {
        .reviews {
          app-review-thumbnail {
            max-width: 28%;
          }
        }
      }
    }
  }
}
