<form (ngSubmit)="(editNotebookForm.valid)"
      [formGroup]="editNotebookForm"
      #myForm="ngForm">

  <fieldset class="flex column">
    <label for="name">Nom du Carnet :</label>
    <input type="text"
           id="name"
           placeholder="Nom..."
           formControlName="name"
           autocomplete="off"/>

    @if (isFormSubmit && myForm.submitted && editNotebookForm.controls['name'].invalid) {
      <div>
        @if (editNotebookForm.controls.name.errors?.['required']) {
          <small>Le nom du Carnet est obligatoire.</small>
        } @else if (editNotebookForm.controls.name.errors?.['maxlength']) {
          <small>Le nom du Carnet ne doit pas dépasser 255 charactères.</small>
        }
      </div>
    }
  </fieldset>

  <fieldset class="flex column">
    <label for="mainPicture">Image Principale : </label>
    <input class="display-none"
           type="file"
           accept="image/png, image/jpeg, image/bmp, image/gif"
           (change)="onFileSelected($event, 'mainPicture')"
           #fileUpload/>
    <input type="text"
           id="mainPicture"
           formControlName="mainPicture"
           value="{{ editNotebookForm.get('mainPicture') }}"
           (keyup)="changeImageValue($event, 'mainPicture')"
           placeholder="URL de l'image..."/>

    <small>Cliquez sur l'image pour en télécharger une, ou ajoutez une URL.</small>

    <img class="pointer"
         (click)="fileUpload.click()"
         src="{{ editNotebookForm.get('mainPicture')!.value }}"
         alt="Photo à choisir pour le matériel"/>

    @if (isFormSubmit && editNotebookForm.controls['mainPicture'].invalid) {
      <div>
        @if (fileSize > fileUploadService.SIZE_MAX) {
          <small>Votre fichier dépasse les {{ fileUploadService.SIZE_MAX / 1048576 }} Méga-octects.</small>
        } @else if (editNotebookForm.controls.mainPicture.errors?.['invalidUrl']) {
          <small>L'image doit être une URL (commencer par => http:// ou https:// ou www.).</small>
        }
      </div>
    }
  </fieldset>

  <fieldset class="flex column">
    <label for="category">Catégorie ?</label>
    <div class="dropdown-container">
      <div class="input-and-arrow flex">
        <input type="text"
               id="category"
               placeholder="Choississez la catégorie du carnet..."
               autocomplete="off"
               class="pointer"
               (focus)="toggleDropdown(true, 'categoryDropdown')"
               (blur)="toggleDropdown(false, 'categoryDropdown')"
               [value]="categoryDtoForNotebook ? categoryDtoForNotebook.name : ''"
               readonly/>
        <div class="arrow-icone flex center">
          @if (isDropdownCategoryOpen) {
            <i class="fa-solid fa-circle-chevron-down pointer" (click)="toggleDropdown(false, 'categoryDropdown')"></i>
          } @else {
            <i class="fa-solid fa-circle-chevron-up pointer" (click)="toggleDropdown(true, 'categoryDropdown')"></i>
          }
        </div>
      </div>
      <ul class="items-list" [ngClass]="{'dropdown-visible': isDropdownCategoryOpen}">
        @for (category of categories; track category) {
          <li (click)="categoryClicked(category); toggleDropdown(false, 'categoryDropdown') ">
            {{ category.name | titlecase }}
          </li>
        }
      </ul>
    </div>

    @if (isFormSubmit && !categoryDtoForNotebook) {
      <div>
        @if (categoryDtoForNotebook === null) {
          <small>La catégorie du carnet est obligatoire.</small>
        }
      </div>
    }
  </fieldset>

  <fieldset class="flex column">
    <label for="collection">Collection ?</label>
    <div class="dropdown-container">
      <div class="input-and-arrow flex">
        <input type="text"
               id="collection"
               placeholder="Choississez la collection du carnet..."
               autocomplete="off"
               class="pointer"
               (focus)="toggleDropdown(true, 'collectionDropdown')"
               (blur)="toggleDropdown(false, 'collectionDropdown')"
               [value]="collectionDtoForNotebook ? collectionDtoForNotebook.name : ''"
               readonly/>
        <div class="arrow-icone flex center">
          @if (isDropdownCollectionOpen) {
            <i class="fa-solid fa-circle-chevron-down pointer" (click)="toggleDropdown(false, 'collectionDropdown')"></i>
          } @else {
            <i class="fa-solid fa-circle-chevron-up pointer" (click)="toggleDropdown(false, 'collectionDropdown')"></i>
          }
        </div>
      </div>
      <ul class="items-list" [ngClass]="{'dropdown-visible': isDropdownCollectionOpen}">
        @for (collection of collections; track collection) {
          <li (click)="collectionClicked(collection); toggleDropdown(false, 'collectionDropdown') ">
            {{ collection.name | titlecase }}
          </li>
        }
      </ul>
    </div>

    @if (isFormSubmit && !categoryDtoForNotebook) {
      <div>
        @if (categoryDtoForNotebook === null) {
          <small>La catégorie du carnet est obligatoire.</small>
        }
      </div>
    }
  </fieldset>

  <fieldset class="flex column">
    <label for="materials">Matériaux ?</label>
    <div class="dropdown-container">
      <div class="input-and-arrow flex">
        <input type="text"
               id="materials"
               placeholder="Choississez le(s) matériel(aux) du carnet..."
               autocomplete="off"
               class="pointer"
               (focus)="toggleDropdown(true, 'materialsDropdown')"
               (blur)="toggleDropdown(false, 'materialsDropdown')"
               readonly/>
        <div class="arrow-icone flex center">
          @if (isDropdownMaterialsOpen) {
            <i class="fa-solid fa-circle-chevron-down pointer" (click)="toggleDropdown(false, 'materialsDropdown')"></i>
          } @else {
            <i class="fa-solid fa-circle-chevron-up pointer" (click)="toggleDropdown(true, 'materialsDropdown')"></i>
          }
        </div>
      </div>
      <ul class="items-list" [ngClass]="{'dropdown-visible': isDropdownMaterialsOpen}">
        @for (material of materials; track material) {
          <li (click)="materialClicked(material); toggleDropdown(false, 'materialsDropdown') ">
            {{ material.name | titlecase }} ( {{ material.materialType | titlecase }} )
          </li>
        }
      </ul>
      <table>
        <thead>
          <tr>
            <td>
              <p>Nom</p>
            </td>
            <td>
              <p>Prix</p>
            </td>
            <td>
              <p>Type</p>
            </td>
            <td>
              <p>Supp.</p>
            </td>
          </tr>
        </thead>
        <tbody>
          @if (materialsDtoForNotebook.length < 1) {
            <tr>
              <td>
                <p>Aucun matériel sélectionné</p>
              </td>
            </tr>
          } @else if (materialsDtoForNotebook.length > 0) {
            @for (material of materialsDtoForNotebook; track material) {
              <tr>
                <td>
                  <p class="flex text-left"> {{ material.name | titlecase }} </p>
                </td>
                <td>
                  <p> {{ material.price | number :'0.2' }} €</p>
                </td>
                <td>
                  <p> {{ material.materialType | titlecase }} </p>
                </td>
                <td>
                  <i (click)="deleteMaterialFromList(material)" class="fa-solid fa-trash-can pointer flex center"></i>
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
      <p>Total : {{ totalPriceMaterials() }}€</p>
    </div>

    @if (isFormSubmit && materialsDtoForNotebook.length < 1) {
      <div>
        <small>Au moins un matériel du carnet est obligatoire.</small>
      </div>
    }
  </fieldset>

  <fieldset class="flex column">
    <label for="price">Quel prix ?</label>
    <input type="number"
          id="price"
          formControlName="price"
          placeholder="0"/>

    @if (isFormSubmit && editNotebookForm.controls['price'].invalid) {
      <div>
        @if (editNotebookForm.controls.price.errors?.['invalidPriceFormat']) {
          <small>Le prix doit avoir 2 chiffres après la virgule ' 9,99 '.</small>
        } @else if (editNotebookForm.controls.price.errors?.['invalidPrice']) {
          <small>Le prix ne peut pas être inférieur à 0€.</small>
        }
      </div>
    }
  </fieldset>

  <fieldset class="flex column">
    <label for="introduction">Introduction pour le carnet : </label>
    <editor [init]="toolBarConfig"

            placeholder="Introduction.."
            formControlName="introduction"
            autocomplete="off">
    </editor>
    <p [style.color]=" this.editNotebookForm.get('introduction')!.value!.length > 500 ? 'red': ''">{{ this.editNotebookForm.get('introduction')!.value | counterZeroIfEmpty }} caractères / 500 </p>
    
    @if (isFormSubmit && editNotebookForm.controls['introduction'].invalid) {
      <div>
        @if (editNotebookForm.controls.introduction.errors?.['required']) {
          <small>L'introduction pour le carnet est requise.</small>
        } @else if (editNotebookForm.controls.introduction.errors?.['maxlength']) {
          <small>L'introduction pour le carnet ne doit pas dépasser 500 charactères.</small>
        }
      </div>
    }
  </fieldset>

  <fieldset class="flex column">
    <label for="description">Description du le carnet : </label>
    <editor [init]="toolBarConfig"

            placeholder="Description.."
            formControlName="description"
            autocomplete="off">
    </editor>
    <p [style.color]=" this.editNotebookForm.get('description')!.value!.length > 1000 ? 'red': ''">{{ this.editNotebookForm.get('description')!.value | counterZeroIfEmpty }} caractères / 1000 </p>
  
    @if (isFormSubmit && editNotebookForm.controls['description'].invalid) {
      <div>
        @if (editNotebookForm.controls.description.errors?.['required']) {
          <small>La description du carnet est requise.</small>
        } @else if (editNotebookForm.controls.description.errors?.['maxlength']) {
          <small>La description du carnet ne doit pas dépasser 1.000 charactères.</small>
        }
      </div>
    }
  </fieldset>

  <fieldset class="flex column">
    <label for="secondaryPictures">Images secondaires ?</label>
    <input class="display-none"
           type="file"
           accept="image/png, image/jpeg, image/bmp, image/gif"
           (change)="onFileSelected($event, 'secondaryPicture')"
           #fileUploadSecondaryPicture/>
    <input type="text"
           id="secondaryPictures"
           (keyup)="changeImageValue($event, 'secondaryPicture')"
           placeholder="URL de l'image..."/>

    <small>Cliquez sur l'image pour en télécharger une, ou ajoutez une URL.</small>

    <img class="pointer"
         (click)="fileUploadSecondaryPicture.click()"
         src="{{ fileUploadService.imageNotebookDefault }}"
         alt="Photo à choisir pour le matériel"/>
    <table>
      <thead>
        <tr>
          <td>
            <p>URL</p>
          </td>
          <td>
            <p>Image</p>
          </td>
          <td>
            <p>Supp.</p>
          </td>
        </tr>
      </thead>
      <tbody>
        @if (secondaryPicturesForNotebook.length < 1) {
          <tr>
            <td>
              <p>Aucune image secondaire ajoutée</p>
            </td>
          </tr>
        } @else {
          @for (pictureUrl of secondaryPicturesForNotebook; track pictureUrl) {
            <tr>
              <td>
                <p class="flex text-left"> {{ pictureUrl }} </p>
              </td>
              <td>
                <img src="{{ pictureUrl }}" alt="image secondaire en cours de selection">
              </td>
              <td>
                <i (click)="deleteSecondaryPictureFromList(pictureUrl)" class="fa-solid fa-trash-can pointer flex center"></i>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </fieldset>

  <button class="btn-submit-admin"
          type="submit"
          (click)="submitEditNotebookForm()">
    Modifier
  </button>
</form>

<app-modal [modalVisible]="modalVisible"
           [modalText]="modalText"
           [multipleChoice]="false"

           (responseForModal)="responseForModal($event)">
</app-modal>