@import "../../scss/variables.scss";
@import "../../scss/buttons.scss";

form{
  flex-direction: column;
  h2{
    padding: $double-padding 0;
  }
  .field-text-area{
    .mat-form-field-text-area{
      height : 194px;
      width: 80vw;
      max-width: 360px;
      text-area{
        height : calc(194px - 24px - 24px);
        max-height: 100%;
        width: 80vw;
        max-width: calc(360px - 32px);
        resize: none;
        overflow-y: hidden;
      }
    }
    .errors{
      margin-bottom: 22px;
      small{
        color : rgb(219, 0, 0);
      }
    }
  }
}

// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {
  form{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    fieldset:not(.field-text-area){
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .field-text-area{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .mat-form-field-text-area{
        max-width: 60%;
      }
    }
  }
}
// Tablettes vers ordinateurs portables :
@media screen and (min-width: 992px) {
}

// Ordinateurs portables vers ordinateurs de bureau :
@media screen and (min-width: 1400px) {
}
