@import "../../scss/variables.scss";
@import "../../scss/buttons.scss";

form {
  flex-direction: column;

  h2 {
    padding: $double-padding 0;
  }

  fieldset {
    .dropdown-container {
      width: 100%;
      margin: $half-margin 0;
    }
  }

  .field-text-area {
      textarea {
        @include inputStyleBorder;
        margin-top: $half-margin;
        padding: $normal-padding;
        height : 240px;
        max-height: 100%;
        width: 100%;
        resize: none;
        overflow-y: hidden;
      }

    .errors {
      margin-bottom: 22px;
    }
  }
}

// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {

  form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    fieldset:not(.field-text-area) {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      input,
      .dropdown-container {
        width: 80%;
      }
    }

    .field-text-area {
      align-items: center;
      justify-content: center;

      textarea {
        max-width: $max-width-768px;
      }
    }
  }
}
// Tablettes vers ordinateurs portables :
@media screen and (min-width: 992px) {
}

// Ordinateurs portables vers ordinateurs de bureau :
@media screen and (min-width: 1400px) {
}
