@import "../../scss/variables.scss";
@import "../../../styles.scss";

.up-arrow {
  position: fixed;
  bottom: 16px;
  right: 16px;
  color: $lilac;
  font-size: $max-font-size;
  z-index: $z-index - 1;
  opacity: 0;
  background-color: $white;
  border-radius: 50%;
  transition: opacity;
}

@media screen and (min-width: 768px) {
}
// Tablettes vers ordinateurs portables :
@media screen and (min-width: 992px) {
}

// Ordinateurs portables vers ordinateurs de bureau :
@media screen and (min-width: 1400px) {
}