<div class="title-functionality flex center">
  <h4>Créer un nouveau Carnet</h4>
  <i class="fa-solid fa-circle-plus"
     (click)="isFormVisible = !isFormVisible"
     [ngClass]="{'rotated45': isFormVisible}"></i>
</div>

@if (isFormVisible) {
  <form (ngSubmit)="(newNotebookForm.valid)"
        [formGroup]="newNotebookForm"
        #myForm="ngForm">

    <fieldset class="flex column">
    <label for="name">Nom du Carnet :</label>
    <input type="text"
          id="name"
          placeholder="Nom..."
          formControlName="name"
          autocomplete="off"/>
    @if (isFormSubmit && myForm.submitted && newNotebookForm.controls['name'].invalid) {
      <div>
        @if (newNotebookForm.controls.name.errors?.['required']) {
          <small>Le nom du Carnet est obligatoire.</small>
        } @else if (newNotebookForm.controls.name.errors?.['maxlength']) {
          <small>Le nom du Carnet ne doit pas dépasser 255 charactères.</small>
        }
      </div>
    }
    </fieldset>

    <fieldset class="flex column">
    <label for="picture">Image Principale : </label>
    <input class="display-none"
          type="file"
          accept="image/png, image/jpeg, image/bmp, image/gif"
          (change)="onFileSelected($event, 'newNotebookForm')"
          #fileUpload/>
    <input type="text"
           id="picture"
           formControlName="picture"
           class="display-none"/>

    <small>Cliquez sur l'image pour en télécharger.</small>

    <img class="pointer"
        (click)="fileUpload.click()"
        [src]="newNotebookForm.get('picture')!.value"
        alt="Photo à choisir pour le carnet"/>
    @if (isFormSubmit && newNotebookForm.controls['picture'].invalid) {
      <div>
        @if (fileUploadService.fileSize > fileUploadService.SIZE_MAX) {
          <small>Votre fichier dépasse les {{ fileUploadService.SIZE_MAX / 1048576 }} Méga-octects.</small>
        }
      </div>
    }
    </fieldset>

    <fieldset class="flex column">
      <label for="category">Catégorie :</label>
      <div class="dropdown-container">
        <div class="input-and-arrow flex">
          <input type="text"
                id="category"
                placeholder="Choississez la categorie du carnet..."
                autocomplete="off"
                class="pointer"
                formControlName="categoryDto"
                (click)="toggleDropdown('Category')"
                [value]="formHelper.getDtoNameByFormControlValue(newNotebookForm.get('categoryDto')!.value!)"
                readonly/>
          <div class="arrow-icon flex center">
            @if (isCategoryDropdownOpen) {
              <i class="fa-solid fa-circle-chevron-down pointer" (click)="toggleDropdown('Category')"></i>
            } @else {
              <i class="fa-solid fa-circle-chevron-up pointer" (click)="toggleDropdown('Category')"></i>
            }
          </div>
        </div>
        <ul class="items-list" [ngClass]="{'dropdown-visible': isCategoryDropdownOpen}">
          @for (category of categories(); track category) {
            <li (click)="onValueSelected('categoryDto', category); toggleDropdown('Category') ">
              {{ category.name | titlecase }}
            </li>
          }
        </ul>
      </div>
      @if (isFormSubmit && myForm.submitted && newNotebookForm.controls['categoryDto'].invalid ) {
        <div>
          @if (newNotebookForm.controls.categoryDto.errors?.['required']) {
            <small>La catégorie du carnet est obligatoire.</small>
          }
        </div>
      }
    </fieldset>

    <fieldset class="flex column">
      <label for="collection">Collection :</label>
      <div class="dropdown-container">
        <div class="input-and-arrow flex">
          <input type="text"
                id="collection"
                placeholder="Choississez la collection du carnet..."
                autocomplete="off"
                class="pointer"
                formControlName="collectionDto"
                (click)="toggleDropdown('Collection')"
                [value]="formHelper.getDtoNameByFormControlValue(newNotebookForm.get('collectionDto')!.value!)"
                readonly/>
          <div class="arrow-icon flex center">
            @if (isCollectionDropdownOpen) {
              <i class="fa-solid fa-circle-chevron-down pointer" (click)="toggleDropdown('Collection')"></i>
            } @else {
              <i class="fa-solid fa-circle-chevron-up pointer" (click)="toggleDropdown('Collection')"></i>
            }
          </div>
        </div>
        <ul class="items-list" [ngClass]="{'dropdown-visible': isCollectionDropdownOpen}">
          @for (collection of collections(); track collection) {
            <li (click)="onValueSelected('collectionDto', collection); toggleDropdown('Collection') ">
              {{ collection.name | titlecase }}
            </li>
          }
        </ul>
      </div>
      @if (isFormSubmit && myForm.submitted && newNotebookForm.controls['collectionDto'].invalid) {
        <div>
          @if (newNotebookForm.controls.collectionDto.errors?.['required']) {
            <small>La collection du carnet est obligatoire.</small>
          }
        </div>
      }
    </fieldset>

    <fieldset class="flex column">
      <label for="materials">Matériaux :</label>
      <div class="dropdown-container">
        <div class="input-and-arrow flex">
          <input type="text"
                id="materials"
                placeholder="Choississez le(s) matériel(aux) du carnet..."
                autocomplete="off"
                class="pointer"
                [value]="'Selectionnez un (des) matériel(aux)'"
                (click)="toggleDropdown('Materials')"
                readonly/>
          <div class="arrow-icon flex center">
            @if (isMaterialsDropdownOpen) {
              <i class="fa-solid fa-circle-chevron-down pointer" (click)="toggleDropdown('Materials')"></i>
            } @else {
              <i class="fa-solid fa-circle-chevron-up pointer" (click)="toggleDropdown('Materials')"></i>
            }
          </div>
        </div>
        <ul class="items-list" [ngClass]="{'dropdown-visible': isMaterialsDropdownOpen}">
          @for (material of materials(); track material) {
            <li (click)="addOrDeleteMaterial(material); toggleDropdown('Materials') ">
              {{ material.name | titlecase }} ( {{ material.materialType | titlecase }} )
            </li>
          }
        </ul>
        <table>
          <thead>
            <tr>
              <td>
                <p>Nom</p>
              </td>
              <td>
                <p>Prix</p>
              </td>
              <td>
                <p>Type</p>
              </td>
              <td>
                <p>Supp.</p>
              </td>
            </tr>
          </thead>
          <tbody>
            @if (!currentMaterials || currentMaterials.length < 1) {
              <tr>
                <td>
                  <p>Aucun matériel sélectionné</p>
                </td>
              </tr>
            } @else {
              @for (currentMaterial of currentMaterials; track currentMaterial) {
                <tr>
                  <td>
                    <p class="flex text-left"> {{ currentMaterial.name | titlecase }} </p>
                  </td>
                  <td>
                    <p> {{ currentMaterial.price | number :'0.2' }} €</p>
                  </td>
                  <td>
                    <p> {{ currentMaterial.materialType | titlecase }} </p>
                  </td>
                  <td>
                    <i (click)="addOrDeleteMaterial(currentMaterial)" class="fa-solid fa-trash-can pointer flex center"></i>
                  </td>
                </tr>
              }
            }
          </tbody>
        </table>
        <p>Total : {{ totalPriceMaterials() }}€</p>
      </div>

      @if (isFormSubmit && myForm.submitted && newNotebookForm.controls['materialsDto'].invalid) {
        <div>
          @if (newNotebookForm.controls.materialsDto.errors?.['required']) {
           <small small>Au moins un matériel du carnet est obligatoire.</small>
          }
        </div>
      }
    </fieldset>

    <fieldset class="flex column">
      <label for="price">Quel prix ?</label>
      <input type="number"
             id="price"
             formControlName="price"
             placeholder="0"/>
      @if (isFormSubmit && newNotebookForm.controls['price'].invalid) {
        <div>
          @if (newNotebookForm.controls.price.errors?.['invalidPriceFormat']) {
            <small>Le prix doit avoir 2 chiffres après la virgule ' 9,99 '.</small>
          } @else if (newNotebookForm.controls.price.errors?.['invalidPrice']) {
            <small>Le prix ne peut pas être inférieur à 0€.</small>
          }
        </div>
      }
    </fieldset>

    <fieldset class="flex column">
      <label for="introduction">Introduction pour le carnet : </label>
      <editor
        [init]="toolBarConfig"
        id="introduction"
        placeholder="Introduction.."
        formControlName="introduction"
        autocomplete="off">
      </editor>
      <p [style.color]="this.newNotebookForm.get('introduction')!.value && this.newNotebookForm.get('introduction')!.value!.length > 65534 ? 'red': ''">{{ this.newNotebookForm.get('introduction')!.value | counterZeroIfEmpty }} caractères / 65.534 </p>

      @if (isFormSubmit && newNotebookForm.controls['introduction'].invalid) {
        <div>
          @if (newNotebookForm.controls.introduction.errors?.['required']) {
            <small>L'introduction pour le carnet est requise.</small>
          } @else if (newNotebookForm.controls.introduction.errors?.['maxlength']) {
            <small>L'introduction pour le carnet ne doit pas dépasser 65.534 charactères.</small>
          }
        </div>
      }
    </fieldset>

    <fieldset class="flex column">
      <label for="description">Description du le carnet : </label>
      <editor
        [init]="toolBarConfig"
        id="description"
        placeholder="Description.."
        formControlName="description"
        autocomplete="off">
      </editor>
      <p [style.color]="this.newNotebookForm.get('description')!.value && this.newNotebookForm.get('description')!.value!.length > 65534 ? 'red': ''">{{ this.newNotebookForm.get('description')!.value | counterZeroIfEmpty }} caractères / 65.534 </p>

      @if (isFormSubmit && newNotebookForm.controls['description'].invalid) {
        <div>
          @if (newNotebookForm.controls.description.errors?.['required']) {
            <small>La description du carnet est requise.</small>
          } @else if (newNotebookForm.controls.description.errors?.['maxlength']) {
            <small>La description du carnet ne doit pas dépasser 65.534 charactères.</small>
          }
        </div>
      }
    </fieldset>

    <button class="display-none"
            type="submit"
            (click)="submitNewNotebookForm()"
            #submitForm>
      Créer
    </button>
  </form>

  <form [formGroup]="newSecondaryPictureForm"
        #myForm="ngForm">
    <fieldset class="flex column">
      <label>Images secondaires ?</label>
      <input class="display-none"
             type="file"
             accept="image/png, image/jpeg, image/bmp, image/gif"
             (change)="onFileSelected($event, 'newSecondaryPictureForm')"
             #fileUploadSecondaryPicture/>

      <small>Cliquez sur l'image pour en télécharger une.</small>

      <img class="pointer"
          (click)="fileUploadSecondaryPicture.click()"
          src="{{ fileUploadService.imageNotebookDefault }}"
          alt="Photo à choisir pour le matériel"/>
      <table>
        <thead>
          <tr>
            <td>
              <p>URL</p>
            </td>
            <td>
              <p>Image</p>
            </td>
            <td>
              <p>Supp.</p>
            </td>
          </tr>
        </thead>
        <tbody>
          @if (newNotebookForm.get('secondaryPicturesDto')!.value) {
            @for (secondaryPicture of currentSecondaryPictures; track secondaryPicture) {
              <tr>
                <td>
                  <p class="flex text-left"> {{ secondaryPicture.picture }} </p>
                </td>
                <td>
                  <img src="{{ secondaryPicture.pictureThumbnail }}" alt="image secondaire du carnet {{ newNotebookForm.get('name')!.value }} en cours de selection">
                </td>
                <td>
                  <i (click)="addOrDeleteSecondaryPicture(secondaryPicture)" class="fa-solid fa-trash-can pointer flex center"></i>
                </td>
              </tr>
            }
          } @else if (!newNotebookForm.get('secondaryPicturesDto')!.value) {
            <tr>
              <td>
                <p>Aucune image secondaire ajoutée</p>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </fieldset>
  </form>

  <button class="btn-submit-admin"
          (click)="submitForm.click()">
    Créer
  </button>
}
