<div class="title-functionality flex center">
  <h4>Créer un nouveau Carnet</h4>
  <i class="fa-solid fa-circle-plus"
    (click)="isFormVisible = !isFormVisible"
    [ngClass]="{'rotated45': isFormVisible}"></i>
</div>

<form
  *ngIf="isFormVisible"
  (ngSubmit)="(newNotebookForm.valid)"
  [formGroup]="newNotebookForm"
  #myForm="ngForm"
>
  <fieldset class="flex column">
    <label for="name">Nom du Carnet :</label>
    <input
      type="text"
      id="name"
      placeholder="Nom..."
      formControlName="name"
      autocomplete="off"
    />

    <div *ngIf="isFormSubmit && myForm.submitted && newNotebookForm.controls['name'].invalid">
      <small *ngIf="newNotebookForm.controls.name.errors?.['required']">Le nom du Carnet est obligatoire.</small>
      <small *ngIf="newNotebookForm.controls.name.errors?.['maxlength']">Le nom du Carnet ne doit pas dépasser 255 charactères.</small>
    </div>
  </fieldset>

  <fieldset class="flex column">
    <label for="mainPicture">Image Principale : </label>
    <input
      class="display-none"
      type="file"
      accept="image/png, image/jpeg, image/bmp, image/gif"
      (change)="onFileSelected($event)"
      #fileUpload
    />
    <input
      type="text"
      id="mainPicture"
      formControlName="mainPicture"
      value="{{ imageToDisplay }}"
      (keyup)="changeImageValue($event)"
      placeholder="URL de l'image..."
    />
    <img
      class="pointer"
      (click)="fileUpload.click()"
      src="{{ imageToDisplay }}"
      alt="Photo à choisir pour le matériel"
    />
    <small>Cliquez sur l'image pour en télécharger une, ou ajoutez une URL.</small>

    <div *ngIf="isFormSubmit && newNotebookForm.controls['mainPicture'].invalid">
      <small *ngIf="fileSize > fileSizeMax">Votre fichier dépasse les {{ fileSizeMax / 1048576 }} Méga-octects.</small>
    </div>
  </fieldset>

  <fieldset class="flex column">
    <label for="introduction">Introduction pour le carnet : </label>
    <editor
      [init]="toolBarConfig"

      placeholder="Introduction.."
      formControlName="introduction"
      autocomplete="off">
    </editor>
    <p [style.color]=" this.newNotebookForm.get('introduction')!.value!.length > 500 ? 'red': ''">{{ this.newNotebookForm.get('introduction')!.value | counterZeroIfEmpty }} caractères / 500 </p>
    
    <div *ngIf="isFormSubmit && newNotebookForm.controls['introduction'].invalid">
      <small *ngIf="newNotebookForm.controls.description.errors?.['introduction']">L'introduction pour le carnet est requise.</small>
      <small *ngIf="newNotebookForm.controls.description.errors?.['introduction']">L'introduction pour le carnet ne doit pas dépasser 500 charactères.</small>
    </div>
  </fieldset>

  <fieldset class="flex column">
    <label for="price">Quel prix ?</label>
    <input
      type="number"
      id="price"
      formControlName="price"
      placeholder="0"
    />
    <div *ngIf="isFormSubmit && newNotebookForm.controls['price'].invalid">
      <small *ngIf="newNotebookForm.controls.price.errors?.['invalidPriceFormat']">Le prix doit avoir 2 chiffres après la virgule ' 9,99 '.</small>
      <small *ngIf="newNotebookForm.controls.price.errors?.['invalidPrice']">Le prix ne peut pas être inférieur à 0€.</small>
    </div>
  </fieldset>

  <fieldset class="flex column">
    <label for="description">Description du le carnet : </label>
    <editor
      [init]="toolBarConfig"

      placeholder="Description.."
      formControlName="description"
      autocomplete="off">
    </editor>
    <p [style.color]=" this.newNotebookForm.get('description')!.value!.length > 1000 ? 'red': ''">{{ this.newNotebookForm.get('description')!.value | counterZeroIfEmpty }} caractères / 1000 </p>
    
    <div *ngIf="isFormSubmit && newNotebookForm.controls['description'].invalid">
      <small *ngIf="newNotebookForm.controls.description.errors?.['description']">La description du carnet est requise.</small>
      <small *ngIf="newNotebookForm.controls.description.errors?.['description']">La description du carnet ne doit pas dépasser 1.000 charactères.</small>
    </div>
  </fieldset>

  <!-- <fieldset class="flex column">
    <label for="materialType">Catégorie ?</label>
    <div class="dropdown-container">
      <input 
        type="text"
        id="materialType"
        formControlName="materialType"
        placeholder="Choississez le type de matériel..."
        autocomplete="off"
        class="pointer"
        (click)="toogleDropdown()"
        readonly
      />

      <ul class="items-list" [ngClass]="{'dropdown-visible': isDropdownOpen}">
        <li *ngFor="let type of materialTypes" (click)="materialTypeClicked(type); toogleDropdown() ">
            {{ type | titlecase }}
        </li>
      </ul>
    </div>
    <div *ngIf="isFormSubmit && newMaterialForm.controls['materialType'].invalid">
      <small *ngIf="newMaterialForm.controls.materialType.errors?.['required']">Le type de matériel est obligatoire.</small>
    </div>
  </fieldset> -->

  <button
  class="btn-submit-admin"
  type="submit"
  (click)="submitNewNotebookForm()"
  >
  Créer
  </button>
</form>