<div class="title-functionality flex center">
  <h4>Créer un nouveau Carnet</h4>
  <i class="fa-solid fa-circle-plus"
     (click)="isFormVisible = !isFormVisible"
     [ngClass]="{'rotated45': isFormVisible}"></i>
</div>

@if (isFormVisible) {
  <form (ngSubmit)="(newNotebookForm.valid)"
        [formGroup]="newNotebookForm"
        #myForm="ngForm">

  <fieldset class="flex column">
  <label for="name">Nom du Carnet :</label>
  <input type="text"
         id="name"
         placeholder="Nom..."
         formControlName="name"
         autocomplete="off"/>
  @if (isFormSubmit && myForm.submitted && newNotebookForm.controls['name'].invalid) {
    <div>
      @if (newNotebookForm.controls.name.errors?.['required']) {
        <small>Le nom du Carnet est obligatoire.</small>
      } @else if (newNotebookForm.controls.name.errors?.['maxlength']) {
        <small>Le nom du Carnet ne doit pas dépasser 255 charactères.</small>
      }
    </div>
  }
  </fieldset>

  <fieldset class="flex column">
  <label for="mainPicture">Image Principale : </label>
  <input class="display-none"
         type="file"
         accept="image/png, image/jpeg, image/bmp, image/gif"
         (change)="onFileSelected($event, 'mainPicture')"
         #fileUpload/>
  <input type="text"
         id="mainPicture"
         formControlName="mainPicture"
         value="{{ newNotebookForm.get('mainPicture') }}"
         (keyup)="changeImageValue($event, 'mainPicture')"
         placeholder="URL de l'image..."/>

  <small>Cliquez sur l'image pour en télécharger une, ou ajoutez une URL.</small>

  <img class="pointer"
       (click)="fileUpload.click()"
       [src]="newNotebookForm.get('mainPicture')!.value"
       alt="Photo à choisir pour le carnet"/>
  @if (isFormSubmit && newNotebookForm.controls['mainPicture'].invalid) {
    <div>
      @if (fileSize > fileUploadService.SIZE_MAX) {
        <small>Votre fichier dépasse les {{ fileUploadService.SIZE_MAX / 1048576 }} Méga-octects.</small>
      }
    </div>
  }
  </fieldset>

  <fieldset class="flex column">
    <label for="category">Catégorie ?</label>


    @if (isFormSubmit) {
      <div>
        @if (categoryDtoForNewNotebook === null) {
          <small>La catégorie du carnet est obligatoire.</small>
        }
      </div>
    }
  </fieldset>

  <fieldset class="flex column">
    <label for="collection">Collection ?</label>
    <div class="dropdown-container">
      <div class="input-and-arrow flex">
        <input type="text"
              id="collection"
              placeholder="Choississez la collection du carnet..."
              autocomplete="off"
              class="pointer"
              (click)="toggleDropdown('collectionDropdown')"
              [value]="collectionDtoForNewNotebook ? collectionDtoForNewNotebook.name : ''"
              readonly/>
        <div class="arrow-icone flex center">
          @if (isDropdownCollectionOpen) {
            <i class="fa-solid fa-circle-chevron-down pointer" (click)="toggleDropdown('collectionDropdown')"></i>
          } @else {
            <i class="fa-solid fa-circle-chevron-up pointer" (click)="toggleDropdown('collectionDropdown')"></i>
          }
        </div>
      </div>
      <ul class="items-list" [ngClass]="{'dropdown-visible': isDropdownCollectionOpen}">
        @for (collection of collections; track collection) {
          <li (click)="collectionClicked(collection); toggleDropdown('collectionDropdown') ">
            {{ collection.name | titlecase }}
          </li>
        }
      </ul>
    </div>
    @if (isFormSubmit) {
      <div>
        @if (categoryDtoForNewNotebook === null) {
          <small>La catégorie du carnet est obligatoire.</small>
        }
      </div>
    }
  </fieldset>

  <fieldset class="flex column">
    <label for="materials">Matériaux ?</label>
    <div class="dropdown-container">
      <div class="input-and-arrow flex">
        <input type="text"
              id="materials"
              placeholder="Choississez le(s) matériel(aux) du carnet..."
              autocomplete="off"
              class="pointer"
              (click)="toggleDropdown('materialsDropdown')"
              readonly/>
        <div class="arrow-icone flex center">
          @if (isDropdownMaterialsOpen) {
            <i class="fa-solid fa-circle-chevron-down pointer" (click)="toggleDropdown('materialsDropdown')"></i>
          } @else {
            <i class="fa-solid fa-circle-chevron-up pointer" (click)="toggleDropdown('materialsDropdown')"></i>
          }
        </div>
      </div>
      <ul class="items-list" [ngClass]="{'dropdown-visible': isDropdownMaterialsOpen}">
        @for (material of materials; track material) {
          <li (click)="materialClicked(material); toggleDropdown('materialsDropdown') ">
            {{ material.name | titlecase }} ( {{ material.materialType | titlecase }} )
          </li>
        }
      </ul>
      <table>
        <thead>
          <tr>
            <td>
              <p>Nom</p>
            </td>
            <td>
              <p>Prix</p>
            </td>
            <td>
              <p>Type</p>
            </td>
            <td>
              <p>Supp.</p>
            </td>
          </tr>
        </thead>
        <tbody>
          @if (materialsDtoForNewNotebook.length < 1) {
            <tr>
              <td>
                <p>Aucun matériel sélectionné</p>
              </td>
            </tr>
          } @else if (materialsDtoForNewNotebook.length > 0) {
            @for (material of materialsDtoForNewNotebook; track material) {
              <tr>
                <td>
                  <p class="flex text-left"> {{ material.name | titlecase }} </p>
                </td>
                <td>
                  <p> {{ material.price | number :'0.2' }} €</p>
                </td>
                <td>
                  <p> {{ material.materialType | titlecase }} </p>
                </td>
                <td>
                  <i (click)="deleteMaterialFromList(material)" class="fa-solid fa-trash-can pointer flex center"></i>
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
      <p>Total : {{ totalPriceMaterials() }}€</p>
    </div>

    @if (isFormSubmit) {
      <div>
        @if (materialsDtoForNewNotebook.length < 1) {}
        <small>Au moins un matériel du carnet est obligatoire.</small>
      </div>
    }
  </fieldset>

  <fieldset class="flex column">
    <label for="price">Quel prix ?</label>
    <input type="number"
          id="price"
          formControlName="price"
          placeholder="0"/>
    @if (isFormSubmit && newNotebookForm.controls['price'].invalid) {
      <div>
        @if (newNotebookForm.controls.price.errors?.['invalidPriceFormat']) {
          <small>Le prix doit avoir 2 chiffres après la virgule ' 9,99 '.</small>
        } @else if (newNotebookForm.controls.price.errors?.['invalidPrice']) {
          <small>Le prix ne peut pas être inférieur à 0€.</small>
        }
      </div>
    }
  </fieldset>

  <fieldset class="flex column">
    <label for="introduction">Introduction pour le carnet : </label>
    <editor
      [init]="toolBarConfig"

      placeholder="Introduction.."
      formControlName="introduction"
      autocomplete="off">
    </editor>
    <p [style.color]=" this.newNotebookForm.get('introduction')!.value!.length > 500 ? 'red': ''">{{ this.newNotebookForm.get('introduction')!.value | counterZeroIfEmpty }} caractères / 500 </p>

    @if (isFormSubmit && newNotebookForm.controls['introduction'].invalid) {
      <div>
        @if (newNotebookForm.controls.introduction.errors?.['required']) {
          <small>L'introduction pour le carnet est requise.</small>
        } @else if (newNotebookForm.controls.introduction.errors?.['maxlength']) {
          <small>L'introduction pour le carnet ne doit pas dépasser 500 charactères.</small>
        }
      </div>
    }
  </fieldset>

  <fieldset class="flex column">
    <label for="description">Description du le carnet : </label>
    <editor
      [init]="toolBarConfig"

      placeholder="Description.."
      formControlName="description"
      autocomplete="off">
    </editor>
    <p [style.color]=" this.newNotebookForm.get('description')!.value!.length > 1000 ? 'red': ''">{{ this.newNotebookForm.get('description')!.value | counterZeroIfEmpty }} caractères / 1000 </p>

    @if (isFormSubmit && newNotebookForm.controls['description'].invalid) {
      <div>
        @if (newNotebookForm.controls.description.errors?.['required']) {
          <small>La description du carnet est requise.</small>
        } @else if (newNotebookForm.controls.description.errors?.['maxlength']) {
          <small>La description du carnet ne doit pas dépasser 1.000 charactères.</small>
        }
      </div>
    }
  </fieldset>

  <fieldset class="flex column">
    <label for="secondaryPictures">Images secondaires ?</label>
    <input class="display-none"
           type="file"
           accept="image/png, image/jpeg, image/bmp, image/gif"
           (change)="onFileSelected($event, 'secondaryPicture')"
           #fileUploadSecondaryPicture/>
    <input type="text"
           id="secondaryPictures"
           (keyup)="changeImageValue($event, 'secondaryPicture')"
           placeholder="URL de l'image..."/>

    <small>Cliquez sur l'image pour en télécharger une, ou ajoutez une URL.</small>

    <img class="pointer"
         (click)="fileUploadSecondaryPicture.click()"
         src="{{ fileUploadService.imageNotebookDefault }}"
         alt="Photo à choisir pour le matériel"/>
    <table>
      <thead>
        <tr>
          <td>
            <p>URL</p>
          </td>
          <td>
            <p>Image</p>
          </td>
          <td>
            <p>Supp.</p>
          </td>
        </tr>
      </thead>
      <tbody>
        @if (secondaryPicturesForNewNotebook.length > 0) {
          @for (pictureUrl of secondaryPicturesForNewNotebook; track pictureUrl) {
            <tr>
              <td>
                <p class="flex text-left"> {{ pictureUrl }} </p>
              </td>
              <td>
                <img src="{{ pictureUrl }}" alt="image secondaire en cours de selection">
              </td>
              <td>
                <i (click)="deleteSecondaryPictureFromList(pictureUrl)" class="fa-solid fa-trash-can pointer flex center"></i>
              </td>
            </tr>
          }
        } @else if (secondaryPicturesForNewNotebook.length < 1) {
          <tr>
            <td>
              <p>Aucune image secondaire ajoutée</p>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </fieldset>

  <button class="btn-submit-admin"
        type="submit"
        (click)="submitNewNotebookForm()">
    Créer
  </button>
  </form>
}