@use "../../scss/variables.scss" as variablesScss;

.values-container {
  justify-content: space-around;
  margin: variablesScss.$double-margin 0;
  max-width: variablesScss.$max-width-mobile;

  .value-icon-and-name {
    i,
    span {
      height: 84px;
      width: 84px;
      border: 2px solid variablesScss.$lilac-dark;
      border-radius: 50%;
      color: variablesScss.$lilac;
      box-shadow: 0 4px 6px variablesScss.$lilac-dark;
    }
    span {
      font-size: calc(1.4 * #{variablesScss.$fourth-font-size});
    }
    i {
      font-size: variablesScss.$fourth-font-size;
    }
    p {
      max-width: 80px;
      margin-top: variablesScss.$half-margin;
      font-size: variablesScss.$normal-font-size;
    }
  }
}

// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {
  .values-container {
    justify-content: space-between;
    width: 100vw;
    max-width: variablesScss.$max-width-768px;
    .value-icon-and-name {
      i,
      span {
        height: 96px;
        width: 96px;
      }
      p {
        max-width: 100%;
        text-align: center;
      }
    }
  }
}

// Tablettes vers ordinateurs portables :
@media screen and (min-width: 992px) {
  .values-container {
    max-width: variablesScss.$max-width-992px;
    .value-icon-and-name {
      i,
      span {
        height: 96px;
        width: 96px;
      }
    }
  }
}

// Ordinateurs portables vers ordinateurs de bureau :
@media screen and (min-width: 1400px) {
  .values-container {
    .value-icon-and-name {
      i,
      span {
        height: 96px;
        width: 96px;
      }
      p {
        max-width: 80px;
      }
    }
  }
}
