<div class="title-functionality flex center">
  <h4>Créer un nouvel Atelier</h4>
  <i class="fa-solid fa-circle-plus"
    (click)="isFormVisible = !isFormVisible"
    [ngClass]="{'rotated45': isFormVisible}"></i>
</div>

<form *ngIf="isFormVisible"
      (ngSubmit)="(newWorkshopForm.valid)"
      [formGroup]="newWorkshopForm"
      #myForm="ngForm">

  <fieldset class="flex column">
    <label for="title">Titre de l'Atelier :</label>
    <input type="text"
           id="title"
           placeholder="Titre..."
           formControlName="title"
           autocomplete="off"/>

    <div *ngIf="isFormSubmit && myForm.submitted && newWorkshopForm.controls['title'].invalid">
      <small *ngIf="newWorkshopForm.controls.title.errors?.['required']">Le titre de l'atelier est obligatoire.</small>
      <small *ngIf="newWorkshopForm.controls.title.errors?.['maxlength']">Le titre de l'atelier ne doit pas dépasser 255 charactères.</small>
    </div>
  </fieldset>

  <fieldset class="flex column">
    <label for="description">Description : </label>
    <editor [init]="toolBarConfig"

            placeholder="Description.."
            formControlName="description"
            autocomplete="off">
    </editor>
    <p [style.color]=" this.newWorkshopForm.get('description')!.value!.length > 1000 ? 'red': ''">{{ this.newWorkshopForm.get('description')!.value | counterZeroIfEmpty }} caractères / 1000 </p>
    
    <div *ngIf="isFormSubmit && newWorkshopForm.controls['description'].invalid">
      <small *ngIf="newWorkshopForm.controls.description.errors?.['required']">La description de l'atelier est requise.</small>
      <small *ngIf="newWorkshopForm.controls.description.errors?.['maxlength']">La description de l'atelier ne doit pas dépasser 1000 charactères.</small>
    </div>
  </fieldset>

  <fieldset class="flex column">
    <label for="date">Date et heure :</label>
    <input type="datetime-local"
           id="date"
           formControlName="date">
    <div *ngIf="isFormSubmit && myForm.submitted && newWorkshopForm.controls['date'].invalid">
      <small *ngIf="newWorkshopForm.controls.date.errors?.['required']">La date et heure sont obligatoires.</small>
    </div>
  </fieldset>

  <fieldset class="flex column">
    <label for="adress">Adresse :</label>
    <small>(Tapez au moins 3 caractères)</small>
    <div class="dropdown-container">
      <div class="input-and-arrow flex">
        <input type="text"
               id="adress"
               placeholder="Choississez l'adresse de l'atelier..."
               autocomplete="off"
               class="pointer"
               (keyup)="searchAdress($event)"
               (focus)="apiBanService.toggleDropdown(true)"
               [value]="this.newWorkshopForm.get('adress')?.value ? this.newWorkshopForm.get('adress')!.value : ''"/>
        <div class="arrow-icone flex center">
          <i class="fa-solid fa-circle-chevron-down pointer"
              *ngIf="apiBanService.isDropdownBanOpen"
              (click)="apiBanService.toggleDropdown(true)"></i>
          <i class="fa-solid fa-circle-chevron-up pointer"
              *ngIf="!apiBanService.isDropdownBanOpen"
            (click)="apiBanService.toggleDropdown(false)"></i>
        </div>
      </div>
      <ul class="items-list" [ngClass]="{'dropdown-visible': apiBanService.isDropdownBanOpen && apiBanService.adressList && apiBanService.adressList.length > 0}">
        <li *ngFor="let adress of apiBanService.adressList" (click)="adressSelected(adress.properties.label); apiBanService.toggleDropdown(false) ">
            {{ adress.properties.label | titlecase }}
        </li>
      </ul>
    </div>
    <div *ngIf="isFormSubmit && myForm.submitted && newWorkshopForm.controls['address'].invalid">
      <small *ngIf="newWorkshopForm.controls.address.errors?.['required']">L'adresse est obligatoire.</small>
    </div>
  </fieldset>

  <fieldset class="flex column">
    <label for="price">Quel prix ?</label>
    <input type="number"
           id="price"
           formControlName="price"
           placeholder="0"/>
    <div *ngIf="isFormSubmit && newWorkshopForm.controls['price'].invalid">
      <small *ngIf="newWorkshopForm.controls.price.errors?.['required']">Le prix doit être indiqué (même 0€).</small>
      <small *ngIf="newWorkshopForm.controls.price.errors?.['invalidPriceFormat']">Le prix doit avoir 2 chiffres après la virgule ' 9,99 '.</small>
      <small *ngIf="newWorkshopForm.controls.price.errors?.['invalidPrice']">Le prix ne peut pas être inférieur à 0€.</small>
    </div>
  </fieldset>

  <fieldset class="flex column">
    <label for="picture">Image : </label>
    <input class="display-none"
           type="file"
           accept="image/png, image/jpeg, image/bmp, image/gif"
           (change)="onFileSelected($event)"
           #fileUpload/>
    <input type="text"
           id="picture"
           formControlName="picture"
           value="{{ newWorkshopForm.get('picture') }}"
           (keyup)="changeImageValue($event)"
           placeholder="URL de l'image..."/>

    <small>Cliquez sur l'image pour en télécharger une, ou ajoutez une URL.</small>

    <img class="pointer"
         (click)="fileUpload.click()"
         [src]="newWorkshopForm.get('picture')!.value"
         alt="Photo à choisir pour le carnet"/>

    <div *ngIf="isFormSubmit && newWorkshopForm.controls['picture'].invalid">
      <small *ngIf="fileSize > fileUploadService.SIZE_MAX">Votre fichier dépasse les {{ fileUploadService.SIZE_MAX / 1048576 }} Méga-octects.</small>
    </div>
  </fieldset>

  <fieldset class="flex column">
    <label for="registrations">Nombre de places disponibles ?</label>
    <input type="number"
           id="registrations"
           formControlName="registrations"
           placeholder="0"/>
    <div *ngIf="isFormSubmit && newWorkshopForm.controls['registrations'].invalid">
      <small *ngIf="newWorkshopForm.controls.registrations.errors?.['required']">Le nombre de place doit être indiqué (mettre un grand nombre si illimité, exemple : 99999).</small>
    </div>
  </fieldset>

  <button class="btn-submit-admin"
          type="submit"
          (click)="submitNewWorkshopForm()">
    Créer
  </button>
</form>