@import "../scss/variables.scss";

.btn-normal {
  @include outline-picture;
  background-color: $lilac-light;
  margin: $half-margin;
  padding: $double-padding;
  font-family: $font-family-text;
  font-size: $double-font-size;
  font-weight: bold;
  text-align: center;
  box-shadow: 8px 8px 4px rgba($lilac-light, 0.8);
  color: $white;
  @include text-shadow (0.4px, $black);
  cursor: pointer;
}

.btn-grey {
  background-color: $grey;
  box-shadow: 8px 8px 4px rgba($grey, 0.8);
  border: 2px solid $grey;
  cursor: not-allowed;
}

// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {
  .btn-normal {
    font-size: $normal-font-size;
    padding: 0px;
    height: 40px;
  }
}