@use "../scss/variables.scss" as variablesScss;

.chips,
.chips-selected {
  border-radius: 16px;
  border: 1px solid variablesScss.$lilac-dark;
  padding: variablesScss.$normal-padding variablesScss.$double-padding;
  text-align: center;
  cursor: pointer;
  font-size: variablesScss.$double-font-size;
  transition: all 0.2s linear;
}

.chips {
  background-color: variablesScss.$lilac-light-opacity-low;
  color: variablesScss.$black;
}

.chips-selected {
  background-color: variablesScss.$lilac-light;
  color: variablesScss.$white;
  box-shadow: 0px 0px 5px variablesScss.$orange-dark;
}
