@use "../scss/variables.scss" as variablesScss;

$image-icon-size: 160px;

input,
textarea {
  @include variablesScss.inputStyleBorder;
  border-radius: 4px;
  padding: .15rem .5rem;
  height: 40px;
  font-size: variablesScss.$double-font-size;
}

textarea {
  height: 320px;
  resize: none;
}

input:focus {
  // Styles spécifiques pour les inputs lorsqu'ils sont focus
  border-bottom: 2px solid variablesScss.$lilac-light;
  border-radius: 4px 4px 2px 2px;
}

input:hover {
  // Styles spécifiques pour les inputs lorsqu'ils sont hover
  outline: 1px solid variablesScss.$lilac-dark;
}

// retire les flèches de l'input NUMBER
input[type="number"] {
  max-width: 160px;
	/* Firefox */
	-moz-appearance: textfield;
	/* Chrome */
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin:0;
	}
}

input[type="file"] {
  display: none;
}

small {
  font-size: variablesScss.$normal-font-size;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 88%;
  margin: variablesScss.$normal-margin auto 0 auto;

  fieldset {
    border: none;
    padding-top: 16px;
    width: 100%;

    label {
      font-size: variablesScss.$triple-font-size;
    }

    select,
    input {
      margin-top : variablesScss.$half-margin;
      width: 100%;
    }

    img {
      max-width: 180px;
      max-height: 180px;
      margin: variablesScss.$normal-margin auto 0 auto;
      border-radius: 8px;
      border : 1px solid variablesScss.$lilac;
    }

    .image-blur-icon {
      cursor: pointer;
      height: $image-icon-size;
      width: $image-icon-size;
      border-radius: 50%;
      background-color: darkgrey;
      position: relative;
      overflow: hidden;
      // même marge que les inputs
      margin-top : variablesScss.$half-margin;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        margin-top: 0;
      }

      i {
        position: absolute;
        width: 100%;
        height: 100%;
        font-size: calc($image-icon-size/2);
        color: variablesScss.$white;
      }

      .small-icon {
        font-size: calc($image-icon-size/2);
      }

      .picture-selected {
        opacity: 0.6;
      }
    }

    editor {
      margin-top : variablesScss.$normal-margin;
      border-radius: 8px;
      border : 1px solid variablesScss.$lilac-light;
    }

    small {
      margin-top: variablesScss.$normal-padding;
      color: variablesScss.$black;
    }

    .dropdown-container {
      .input-and-arrow {
        .arrow-icon {
          margin-top: variablesScss.$half-margin;
        }
      }
    }

    div {
      small {
        margin-top: variablesScss.$normal-padding;
        color: variablesScss.$red;
      }
    }
  }

  .tags-available {
    margin-top : variablesScss.$normal-margin;
    width: 100%;
    gap: 8px;
  }

  button[type="submit"] {
    margin : variablesScss.$double-margin 0;
  }
}

.input-invalid {
  color: variablesScss.$red;
  font-weight: bold;
  &::placeholder {
    color: variablesScss.$red;
    font-weight: bold;
  }
}

.bubble {
  position: absolute;
  top: -120px;
  background-color: variablesScss.$white;
  border: 2px solid variablesScss.$lilac;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px variablesScss.$lilac-dark;
  z-index: 5;
  font-size: variablesScss.$triple-font-size;
}

// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {
  form {
    width: 100%;
  }
}
