<div class="biography-page flex column center">
  <app-h1
    [titleChild]="titleParentHome"
    [backgroundImageChild]="backgroundImageParentHome"
  ></app-h1>
  <h2>Histoire de vie</h2>
  <section class="bio-titles-and-image">
    <img
      src="../../../assets/images/loryane.jpg"
      alt="Photo de l'artiste Loryane Vincent"
    />

    <h3 id="myApproach">À la Confluence de l'Art et de la Nature : Loryane</h3>
    <p class="padding-none">
      Dans le monde artistique où l'éco-responsabilité fusionne avec la
      créativité, Loryane se démarque en tant qu'artiste manuelle bio, apportant
      une touche unique à l'art de la fabrication de carnets et d'ateliers. Née
      dans un petit coin de nature préservée, [Nom de l'Artiste] a trouvé
      l'inspiration dans les feuilles bruissantes des arbres et les rivières
      chantantes qui entourent son quotidien. Animée par une passion profonde
      pour l'écologie et l'artisanat, elle a choisi de créer des carnets et des
      ateliers qui incarnent l'harmonie entre l'homme et la nature.
    </p>
    <br>
    <p>
      Chaque carnet produit par [Nom de l'Artiste] est une œuvre d'art en soi,
      fabriquée à la main avec des matériaux écologiques soigneusement
      sélectionnés. Les pages, faites de papier recyclé, invitent les écrivains
      à plonger dans un monde où l'écriture devient une expérience sensorielle.
      Les ateliers de [Nom de l'Artiste] sont des sanctuaires créatifs où les
      participants explorent l'art de la reliure et découvrent la magie des
      matériaux naturels. Son approche pédagogique chaleureuse et encourageante
      fait de chaque atelier une expérience éducative enrichissante. Au-delà de
      ses créations, [Nom de l'Artiste] s'engage activement à sensibiliser à
      l'importance de l'artisanat respectueux de l'environnement. Son travail
      non seulement incarne l'esthétique, mais aussi l'éthique, offrant un
      exemple inspirant d'art responsable.
    </p>
    <br>
    <p>
      Chaque carnet produit par [Nom de l'Artiste] est une œuvre d'art en soi,
      fabriquée à la main avec des matériaux écologiques soigneusement
      sélectionnés. Les pages, faites de papier recyclé, invitent les écrivains
      à plonger dans un monde où l'écriture devient une expérience sensorielle.
      Les ateliers de [Nom de l'Artiste] sont des sanctuaires créatifs où les
      participants explorent l'art de la reliure et découvrent la magie des
      matériaux naturels. Son approche pédagogique chaleureuse et encourageante
      fait de chaque atelier une expérience éducative enrichissante. Au-delà de
      ses créations, [Nom de l'Artiste] s'engage activement à sensibiliser à
      l'importance de l'artisanat respectueux de l'environnement. Son travail
      non seulement incarne l'esthétique, mais aussi l'éthique, offrant un
      exemple inspirant d'art responsable.
    </p>
  </section>
  <section class="flex column center">
    <!-- <div class="image-and-filter-color flex column">
      <img
        src="../../../assets/images/figma/reliure.jpg"
        alt="Photo d'un livre ouvert"
        #imgMonitored
      />
      <div class="filter-color"></div>
    </div> -->

    <div class="image-and-filter-color flex column">
      <img
        src="../../../assets/images/figma/atelier.jpg"
        alt="Photo d'un livre ouvert"
        #imgMonitored
      />
      <div class="filter-color"></div>
    </div>
    <h3 id="whoAmI">Qui suis-je ?</h3>
    <p>
      À travers son art, [Nom de l'Artiste] nous rappelle que la créativité peut
      être à la fois belle et durable, établissant ainsi un pont entre l'art,
      l'homme et la nature dans un monde qui a plus que jamais besoin de ces
      liens essentiels.
    </p>
  </section>
</div>
