<app-h1 [titleChild]="'Qui suis je ?'" [backgroundImageChild]="backgroundImageParentHome"/>

<h2>Histoire de vie</h2>

<section class="bio-titles-and-image">
  <img src="../../../assets/images/loryane.jpg" alt="Photo de l'artiste Loryane Vincent"/>

  <h3 id="myApproach">Histoire</h3>
  <p class="padding-none">
    VitaLitté est une entreprise qui a pour but de favoriser l’expression
    et le partage des émotions ainsi que la créativité grâce à l’art et la
    lecture. Pour cela, Loryane VINCENT, illustratrice/ créatrice et animatrice
    propose des carnets illustrés fait main et des ateliers biblio-créatifs
    (basés sur la bibliothérapie créative et l’art-thérapie).
  </p>
  <br>
  <p>
    Grâce aux carnets illustrés, aux cartes postales et marque-pages que
    forment la papeterie artisanale de VitaLitté, le client peut s’exprimer
    par l’écrit, le collage, le dessin, la peinture à travers ces supports.
    Il emploie le carnet à sa guise comme un album photo, un carnet de voyage,
    un carnet de notes, de croquis… Cette expérience peut être personnelle ou
    altruiste comme le cas de l’écriture d’une carte postale.
  </p>
  <br>
  <p>
    A travers les ateliers biblio-créatifs collectifs, le client peut exprimer
    sa créativité par un médium artistique (écriture, dessin, peinture, chant)
    à partir d’un texte lu avec un thème précis. Il peut partager ses ressentis
    et expériences avec autrui et créer des liens.
  </p>
  <br>
  <p>
    Le nom de l’entreprise vient des mots « vitalité » et « littérature ».
    C’est un lien établi pour mettre en lumière l’importance de se sentir
    vivant pour l’être humain, de trouver un sens à ce qu’il vit, ce qu’il
    ressent, fait. Il peut effectuer cette quête à l’aide des livres et de la
    pratique artistique libre. Les lettres V et L sont volontairement en
    majuscules pour marquer les initiales de la créatrice à l’origine de
    l’entreprise.
  </p>
</section>

<section class="flex column center">
  <div class="image-and-filter-color flex column">
    <img src="../../../assets/images/figma/atelier.jpg"
         alt="Photo d'un livre ouvert"
         #imgMonitored/>
    <div class="filter-color"></div>
  </div>
  <h3 id="who-am-i">Qui suis-je ?</h3>
  <p>
    À travers son art, [Nom de l'Artiste] nous rappelle que la créativité peut
    être à la fois belle et durable, établissant ainsi un pont entre l'art,
    l'homme et la nature dans un monde qui a plus que jamais besoin de ces
    liens essentiels.
  </p>
</section>
