<!--<app-h1 [titleChild]="'Qui suis je ?'" [backgroundImageChild]="backgroundImageParentHome"/>-->

<!--<h2>Histoire de vie</h2>-->

<section>
<!--  <img src="../../../assets/images/loryane.jpg" alt="Photo de l'artiste Loryane Vincent"/>-->

  <h3 id="myApproach">A propos</h3>
  <h4>L'objectif d'Utaida ?</h4>

  <p>
    Vous proposer d'exprimer et de partager vos émotions, votre créativité,
    votre sens esthétique à travers des objets illustrés et des ateliers biblio créatifs.
    Construire ou renforcer des liens avec les autres avec l'art et les livres.
  </p>
  <p>
    Avec les carnets faits main, vous pourrez vous exprimer librement.
    Que ce soit dans votre vie personnelle ou professionnelle, pour écrire dans votre intimité
    ou avec les autres, pour dessiner, peindre, faire des collages, recenser vos souvenirs en photos…
    et bien d'autres utilisations à découvrir avec Utaida !
    Plusieurs collections sont disponibles avec des reliures du monde entier, que ce soit pour ceux
    qui aiment les illustrations, les peintures, le papier fantaisie, les tissus à motifs…
    Les carnets sont proposés avec un choix de grammage personnalisé selon vos envies d'usage et
    de création.
  </p>
  <p>
    Les cartes postales, les marque-pages sont d'autres supports qui vous permettront d'écrire à
    vos proches, de savourer une lecture ou de revêtir un dossier professionnel.
  </p>
  <p>
    Les illustrations en affiches/prints, encadrées vous permettront de décorer un lieu qui
    vous ressemble ou que vous souhaitez personnaliser.
  </p>
  <p>
    Avec les ateliers biblio créatifs, vous pourrez partager votre passion des mots,
    des livres et des arts avec autrui, faire des rencontres et créer des liens.
    Ces ateliers sont basés sur la bibliothérapie créative. Cela consiste, à partir d'un thème,
    de choisir un extrait de texte d'un livre, lu à haute voix par un animateur et
    les participants étant emplis d'émotions ressenties, de réaliser une création par des
    médiations telles que l'écriture, le dessin, la peinture, le land art ou encore le chant.
  </p>
  <p>
    Utaida vous souhaite un agréable voyage au pays des arts, des personnes et des pensées reliées !
  </p>
</section>

<div class="image-and-filter-color img-full-width">
  <img class="pointer" src="./assets/images/figma/atelier.jpg" alt="Photo d'un livre ouvert"/>
  <div class="filter-color"></div>
</div>

<!--<div class="image-and-filter-color flex column">-->
<!--  <img src="../../../assets/images/figma/atelier.jpg"-->
<!--       alt="Photo d'un livre ouvert"-->
<!--       #imgMonitored/>-->
<!--  <div class="filter-color"></div>-->
<!--</div>-->

<section class="flex column center">
  <h4 id="who-am-i">Qui est derrière Utaida ?</h4>

  <img src="../../../assets/images/artist-bio.jpg" alt="Photo de l'artiste Loryane Vincent"/>
  <p>
    Enchantée, je m'appelle Loryane VINCENT, alsacienne, bretonne et lyonnaise, je suis illustratrice,
    créatrice de carnets et animatrice d'ateliers biblio créatives.
  </p>
  <p>
    Passionnée par l'humain, les rencontres, le partage ainsi que ce qui met de la magie et
    relie ces éléments : les arts et les livres. Je suis heureuse de lancer cette aventure
    onstituée de vitalité, d'émotions variées et de liberté d'expression.
  </p>
  <p>
    Mes illustrations et créations sont inspirées des voyages que je fais en France et
    à l'international, de mes lectures, des films que je visionne, des œuvres picturales
    qui m'inspirent. De nombreux sujets me passionnent tels que la spiritualité,
    l'imaginaire fantastique, fantasy et science-fiction, le manga, la nature,
    les continents asiatique, européen et africain, la philosophie, l'astrologie et les magic girls !
  </p>
  <p>
    J'ai commencé mon aventure artistique et humaine au lycée International des Pontonniers à Strasbourg !
    J'y ai suivi un parcours littéraire avec des options d'Histoire de l'art et de Théâtre.
    J'y ai rencontré des personnes de tous les pays et horizons, ce qui a commencé ma passion pour la relation humaine.
    Cette partie de ma vie m'a conduit tout droit vers une expérience de libraire à la librairie internationale Kléber,
    réalisée en alternance entre Strasbourg et Paris. Quelques années ont suivi dans le milieu de la restauration et
    du conseil dans le domaine de la bière qui m'ont ouvert à une multitude de profils humains.
  </p>
  <p>
    Passant par Tours, mes pas m'ont mené à Lyon où j'ai été fascinée par l'architecture,
    la profusion de la culture et de l'art à chaque coin de rue. C'est dans cette ville inspirante que je vis et
    dans laquelle ce projet a vu le jour. Tout le long de mes études et de mon parcours,
    l'art et les livres ont imprégnés ma voie et mes pensées. Enfin, je me suis formé dans les domaines de
    l'art-thérapie et de la bibliothérapie créative, puis lancé dans la réalisation du projet
    que vous voyez devant vos yeux ! Je vous souhaite un beau voyage sur cette planète illustrée !
  </p>
  <p>
    Au plaisir d'échanger avec vous ou de vous rencontrer !
  </p>
  <p class="last-p">Loryane VINCENT</p>
</section>
