@use "../../scss/variables.scss" as variablesScss;

.img-full-width {
  @include variablesScss.outline-picture;
  width: 100vw;
  height: 32vh;
  overflow: hidden;
  img {
    height: 32vh;
    width: 100vw;
    z-index: variablesScss.$z-index;
    object-position: center;
  }
  .filter-color {
    z-index: variablesScss.$z-index + 1;
    height: 100vh;
    top: calc(-64vh - 4px);
  }
}

section {
  img {
    @include variablesScss.outline-picture;
      //max-width: calc(100vw * (1 / 3) - (#{variablesScss.$fourth-padding}));
      //max-height: 320px;
    max-width: var(--max-width);
    margin-bottom: variablesScss.$normal-margin;
  }
  h3 {
    margin-top: variablesScss.$normal-margin;
  }
  h4 {
    color: variablesScss.$lilac-dark;
    font-weight: bold;
    letter-spacing: 2px;
    margin: variablesScss.$normal-margin 0;
  }
  p {
    margin-bottom: variablesScss.$half-margin;
  }
  .last-p {
    margin: variablesScss.$normal-margin 0;
  }
}

// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {
  section{
    p {
    padding: 0;
    }
    .image-and-filter-color {
      max-width: var(--max-width);
      max-height: calc(650px / 3);
      img {
        max-width: var(--max-width);
        max-height: calc(650px / 3);
      }
      .filter-color {
        max-width: var(--max-width);
        min-height: calc(650px / 3);
        max-height: calc(650px / 3);
        top: calc((-650px / 3) - 2px);
      }
    }
  }
}

// Tablettes vers ordinateurs portables :
@media screen and (min-width: 992px) {
  section{
    p {
      padding: 0;
    }
    .image-and-filter-color {
      max-width: var(--max-width);
      img{
        max-width: var(--max-width);
      }
      .filter-color{
        max-width: var(--max-width);
      }
    }
  }
}

// Ordinateurs portables vers ordinateurs de bureau :
@media screen and (min-width: 1400px) {
}
