<app-h1 [titleChild]="'Imaginer vous même !'" [backgroundImageChild]="backgroundImageParentHome"/>

<h2>Bienvenue dans l'atelier de création !</h2>
<p>Ici, nous vous offrons la possibilité de concevoir vos articles de papeterie sur mesure,
  en harmonie avec la nature. Que ce soit un carnet unique, un marque-page personnalisé,
  ou une carte postale qui reflète vos valeurs, chaque pièce que vous concevez respecte
  notre engagement pour l'environnement et les savoir-faire artisanaux.</p>

<h3>Un geste pour vous, un geste pour la planète</h3>
<p>Chez Vitalitté, nous croyons en une papeterie différente.
  Nos matériaux sont soigneusement sélectionnés pour leur faible impact écologique :
  du papier recyclé à l'encre végétale, chaque détail compte.
  En créant votre propre produit, vous contribuez à soutenir des pratiques durables
  tout en exprimant votre créativité.</p>

<h4>Comment ça marche ?</h4>
<ul class="width100">
  <li>
    <p><span class="strong-list">Choisissez le type de produit</span> – Que souhaitez-vous créer aujourd'hui ?
      Un carnet de notes personnalisé, un marque-page original, ou une carte postale pour une occasion spéciale ?</p>
  </li>
  <li>
    <p><span class="strong-list">Personnalisez à votre goût</span> – Trouvez vos matériaux, couleurs et finitions.
      Vous pouvez ajouter des motifs, des textes, ou même des illustrations.</p>
  </li>
  <li>
    <p><span class="strong-list">Finalisez votre création</span> – Une fois satisfait(e) de votre design,
      il ne vous reste plus qu'à nous contacter et nous nous occuperons de fabriquer votre pièce unique, à la main, avec amour et respect de l'environnement.</p>
  </li>
</ul>

<h4>Un projet unique, une approche personnalisée</h4>
<p>Chaque création est une <span class="strong-list">pièce unique</span>. Que vous souhaitiez un carnet à la reliure complexe,
un marque-page aux finitions minutieuses, ou une carte postale à illustration personnalisée,
nous comprenons que chaque projet a ses spécificités.</p>

<p>En fonction de la complexité de votre design, des matériaux choisis et des
  techniques nécessaires, la faisabilité et le temps de réalisation peuvent varier.
  Afin de vous offrir une expérience sur-mesure et un produit qui correspond
  parfaitement à vos attentes, nous vous invitons à nous contacter.</p>

<h4 class="flex center">Pourquoi nous contacter ?</h4>
<ul class="width100">
  <li>
    <p><span class="strong-list">Chaque détail compte</span> dans la création de votre article. En discutant directement
    avec notre équipe, vous pourrez :</p>
  </li>
  <li>
    <p><span class="strong-list">Évaluer la faisabilité de votre projet</span>, en tenant compte des techniques artisanales disponibles.</p>
  </li>
  <li>
    <p><span class="strong-list">Obtenir des conseils</span> sur les meilleures options écoresponsables pour votre design.</p>
  </li>
  <li>
    <p><span class="strong-list">Recevoir un devis précis et personnalisé</span>, basé sur la complexité et les matériaux que vous souhaitez.</p>
  </li>
  <li>
    <p class="width100"><span class="strong-list">Ensemble</span>, nous trouverons la solution idéale
      pour que votre création reflète vos envies tout en respectant notre engagement
      pour une fabrication responsable et de qualité.</p>
  </li>
</ul>
