<div class="create-product-page flex column center">

  <app-h1 [titleChild]="'Imaginer mon carnet'" [backgroundImageChild]="backgroundImageParentHome"/>

  <form action="https://formsubmit.io/send/guillaume.cometto@gmail.com"
        method="POST"
        class="flex column"
        id="contactform">

    <fieldset>
      <mat-form-field>
        <mat-label>Type de couverture...</mat-label>
        <mat-select name="cover" id="cover">
          <mat-option
            (click)="changeCoverValue('Cuir')"
            value="Cuir"
            >Cuir (5 euros)</mat-option
          >
          <mat-option
            (click)="changeCoverValue('Carton')"
            value="Carton"
            >Carton</mat-option
          >
          <mat-option (click)="changeCoverValue('Papier')"
          value="Papier"
            >Papier</mat-option
          >
        </mat-select>
      </mat-form-field>

      @if (isFormClicked && hasErrors) {
        <div class="errors">
          @if (!coverValue) {
            <small>Le thème est <strong>obligatoire</strong>.</small>
          }
        </div>
      }
    </fieldset>

    <fieldset>
      <mat-form-field>
        <mat-label>Type de reliure...</mat-label>
        <mat-select name="booBinding" id="booBinding">
          <mat-option
            (click)="changeBookBindingValue('Chinoise')"
            value="Chinoise"
            >Chinoise</mat-option
          >
          <mat-option
            (click)="changeBookBindingValue('Egyptienne')"
            value="Egyptienne"
            >Egyptienne</mat-option
          >
          <mat-option (click)="changeBookBindingValue('Classique')"
            >Classique</mat-option
          >
        </mat-select>
      </mat-form-field>

      @if (isFormClicked && hasErrors) {
        <div class="errors">
          @if (!bookBindingValue) {
            <small>La couverture est <strong>obligatoire</strong>.</small>
          }
        </div>
      }
    </fieldset>

    <fieldset>
      <mat-form-field>
        <mat-label>Papier...</mat-label>
        <mat-select name="paper" id="booBipapernding">
          <mat-option
            (click)="changePaperValue('Papier Recyclé')"
            value="Papier Recyclé"
            >Papier Recyclé</mat-option
          >
          <mat-option
            (click)="changePaperValue('Papier Classique')"
            value="Papier Classique"
            >Papier Classique</mat-option
          >
        </mat-select>
      </mat-form-field>

      @if (isFormClicked && hasErrors) {
        <div class="errors">
          @if (!paperValue) {
            <small>Le papier est <strong>obligatoire</strong>.</small>
          }
        </div>
      }
    </fieldset>

    <fieldset>
      <mat-form-field >
        <mat-label>Titre... (facultatif)</mat-label>
        <input
          matInput
          type="text"
          name="title"
          id="title"
          (keyup)="changeTitleValue($event)"
        />
      </mat-form-field>

      @if (isFormClicked && hasErrors) {
        <div class="errors">
          @if (titleValue && titleValue.length > 255) {
            <small>Le nom ne doit pas comporter plus de<strong>255 caractères</strong>.</small>
          } @else if (titleValue && titleValue.length <= 2) {
            <small>Le nom doit comporter plus de<strong>2 caractères</strong>.</small>
          } @else if (!titleValue) {
            <small>Le nom est<strong>obligatoire</strong>.</small>
          }
        </div>
      }
    </fieldset>
  </form>

  <div class="preview-picture flex">
    <img class="binding-src" src="../../../assets/images/figma/nopeLibre/{{bookBindingValue}}.jpg" alt="">
    <div class="flex column">
      <p class="cover-src" [style.background-image]="'url(../../../assets/images/figma/nopeLibre/' + coverValue + '.jpg)'">
        {{titleValue}}
    </p>
    <img class="paper-src" src="../../../assets/images/figma/nopeLibre/{{paperValue}}.jpg" alt="">
    </div>
  </div>

</div>
