@use "../../scss/variables.scss" as variablesScss;

.carousel {
  width: var(--max-width);

  img {
    width: var(--max-width);
    aspect-ratio: 1 / 1;
  }
  .buttons-image {
    height: 120px;

    .img-circle {
      width: calc(var(--width-img-by-counter-image) - (#{variablesScss.$normal-margin}));
      max-width: 100px;
      aspect-ratio: 1 / 1;
      background-color: variablesScss.$lilac-light;
      border-radius: 50%;
      transition: all 0.4s ease-in-out;
      filter: grayscale(100%);
    }

    .active {
      width: calc(var(--width-img-by-counter-image) + 20px);
      filter: grayscale(0%);
    }
  }
}

// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {
  .carousel {
    width: var(--max-width);
    img {
      width: var(--max-width);
    }
  }
}

// Tablettes vers ordinateurs portables :
@media screen and (min-width: 992px) {
  .carousel {
    width: var(--max-width);
    img {
      width: var(--max-width);
    }
  }
}

// Ordinateurs portables vers ordinateurs de bureau :
@media screen and (min-width: 1400px) {
  .carousel {
    width: var(--max-width);
    img {
      width: var(--max-width);
    }
  }
}

