@import "../../scss/variables.scss";

.carousel {
  width: $max-width-mobile;

  img {
    width: $max-width-mobile;
    aspect-ratio: 1 / 1;
  }
  .buttons-image {
    height: 120px;

    .img-circle {
      width: calc(var(--width-img-by-counter-image) - $normal-margin);
      max-width: 100px;
      aspect-ratio: 1 / 1;
      background-color: $lilac-light;
      border-radius: 50%;
      transition: all 0.4s ease-in-out;
      filter: grayscale(100%);
    }

    .active {
      width: calc(var(--width-img-by-counter-image) + 20px);
      filter: grayscale(0%);
    }
  }
}

// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {
  .carousel {
    width: $max-width-768px;
    img {
      width: $max-width-768px;
    }
  }
}

// Tablettes vers ordinateurs portables :
@media screen and (min-width: 992px) {
  .carousel {
    width: $max-width-992px;
    img {
      width: $max-width-992px;
    }
  }
}

// Ordinateurs portables vers ordinateurs de bureau :
@media screen and (min-width: 1400px) {
  .carousel {
    width: $max-width-1400px;
    img {
      width: $max-width-1400px;
    }
  }
}

