<div class="title-functionality flex center">
  <h4 class="flex center">Gérer les Catégories</h4>
  <i class="fa-solid fa-arrow-down" (click)="isTableVisible = !isTableVisible" [ngClass]="{'rotated180': isTableVisible}"></i>
</div>

<div *ngIf="!categories || categories.length <= 0">Aucun Article</div>

<table *ngIf="categories && isTableVisible">
  <thead>
    <tr>
      <td>
        <p>Nom</p>
      </td>
      <td>
        <p>Modif.</p>
      </td>
      <td>
        <p>Supp.</p>
      </td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let category of categories ; let index = index"
    [ngClass]="index % 2 ? 'bg-dark' : ''">
  <td class="flex column">
    <p *ngIf="category.slug !== categoryToEdit?.slug">{{ category.name }}</p>
    <input *ngIf="category.slug === categoryToEdit?.slug"
           type="text"
           value="{{ category.name }}"
           (keyup)="changeNameValue($event)"/>
    <small *ngIf="!categoryToEdit?.name && categoryToEdit?.slug === category.slug">Le nom de categorie ne peut être vide</small>
    </td>
    <td>
      <i *ngIf="category.slug !== categoryToEdit?.slug"
         (click)="canEdit(category)"
         class="fa-solid fa-pencil flex center"></i>
      <div class="flex center space-around" >
      <i *ngIf="category.slug === categoryToEdit?.slug"
        (click)="edit()"
        class="fa-solid fa-check-circle"></i>
      <i *ngIf="category.slug === categoryToEdit?.slug"
        (click)="categoryToEdit = null"
        class="fa-solid fa-circle-xmark"></i>
      </div>
    </td>
    <td>
      <i (click)="categoryToEdit?.slug !== category.slug ? delete(category.slug) : ''"
         class="fa-solid fa-trash-can flex center"
         [ngClass]="categoryToEdit?.slug === category.slug ? 'disabled' : '' "></i>
    </td>
  </tbody>
</table>
<app-modal
  [modalVisible]="modalVisible"
  [modalText]="modalText"
  [multipleChoice]="true"
  
  (responseForModal)="responseForModal($event)"
>
</app-modal>