<app-return-admin-home/>
<h2>Gestion des Cartes Cadeaux</h2>
<app-post-giftcard (newGiftCard)="postGiftCard($event)"></app-post-giftcard>
<app-edit-delete-giftcard [giftcards]="giftcards"

                          (giftCardToDelete)="showModal($event)">
</app-edit-delete-giftcard>

<anguille [message]="messageResponseFromBackend"/>
<app-modal [modalVisible]="modalVisible"
          [modalText]="modalText"
          [multipleChoice]="true"
          
          (responseForModal)="responseForModal($event)">
</app-modal>