<!-- <div class="flex"
     *ngFor="let possibility of notebookPossibilities">
    <p> Type de {{possibility.name | titlecase}} :</p>
  <div class="dropdown">
    <p value="">--Please choose an option--</p>
    <p *ngFor="let item of possibility.value"
            (click)="logSelectedValue(possibility.name, item.name)"
            >{{item.name | titlecase}} ({{item.price | number: '0.2'}} €)</p>
  </div>
</div> -->

<!-- <div class="flex">
  <label for="cover-select">Type de Couverture :</label>
  <select name="cover" id="cover-select">
    <option value="">--Please choose an option--</option>
    <option *ngFor="let coverItem of coversList"
            value="{{coverItem.name}}">{{coverItem.name | titlecase}} ({{coverItem.price}} €)</option>
  </select>
</div>
<div class="flex">
  <label for="paper-select">Type de Couverture :</label>
  <select name="paper" id="paper-select">
    <option value="">--Please choose an option--</option>
    <option *ngFor="let paperItem of papersList"
            value="{{paperItem.name}}">{{paperItem.name | titlecase}} ({{paperItem.price}} €)</option>
  </select>
</div> -->