<!-- @for (possibility of notebookPossibilities; track possibility) {
  <div class="flex">
      <p> Type de {{possibility.name | titlecase}} :</p>
    <div class="dropdown">
      <p value="">--Please choose an option--</p>
      @for (item of possibility.value; track item) {
        <p (click)="logSelectedValue(possibility.name, item.name)">
          {{item.name | titlecase}} ({{item.price | number: '0.2'}} €)
        </p>
      }
    </div>
  </div>
}

<div class="flex">
  <label for="cover-select">Type de Couverture :</label>
  <select name="cover" id="cover-select">
    <option value="">--Please choose an option--</option>
    @for (coverItem of coversList; track coverItem) {
      <option value="{{coverItem.name}}"> {{coverItem.name | titlecase}} ({{coverItem.price}} €)</option>
    }
  </select>
</div>

<div class="flex">
  <label for="paper-select">Type de Couverture :</label>
  <select name="paper" id="paper-select">
    <option value="">--Please choose an option--</option>
    @for (paperItem of papersList; track paperItem) {
      <option value="{{paperItem.name}}"> {{paperItem.name | titlecase}} ({{paperItem.price}} €)</option>
    }
  </select>
</div> -->