@use "../../scss/variables.scss" as variablesScss;
@use "../../scss/buttons.scss";
@use "../../../styles.scss";

.product-list {
  margin-top: variablesScss.$fourth-padding;
  width: var(--product-picture-size);
  h5 {
    width: 100%;
    text-align: left;
    font-size: variablesScss.$triple-font-size;
    margin: variablesScss.$half-margin 0;
    font-family: variablesScss.$font-family-title-h2-h3;
  }
  p {
    text-align: left;
    font-size: variablesScss.$normal-font-size;
  }
  .image-and-filter-color {
    height: var(--product-picture-size);
    width: var(--product-picture-size);
    img {
      @include variablesScss.outline-picture;
      min-height: var(--product-picture-size);
      min-width: var(--product-picture-size);
    }
    .filter-color {
      z-index: variablesScss.$z-index + 1;
      border-radius: 8px;
      top: calc( 0px - var(--product-picture-size) - 4px);
      min-height: calc(var(--product-picture-size) + 2px + 2px);
      width: calc(var(--product-picture-size) + 2px + 2px);
    }
  }
  .product-introduction {
    max-height: 160px;
    @include variablesScss.hiddenTextByLineNumber(5);
    // Copie des valeurs de balise p du styles.sccs car il y a des cas où le text n'est pas dans une balise <p>
    font-family: variablesScss.$font-family-text;
    font-size: variablesScss.$normal-font-size;
    line-height: 1.4em;
    letter-spacing: 2px;
    p {
      font-family: variablesScss.$font-family-text;
    }
  }
  hr {
    margin: calc(2 * #{variablesScss.$normal-margin}) 0;
  }
}

// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {
}

// Tablettes vers ordinateurs portables :
@media screen and (min-width: 992px) {
}

// Ordinateurs portables vers ordinateurs de bureau :
@media screen and (min-width: 1400px) {
}
