@import "../../scss/variables.scss";
@import "../../scss/buttons.scss";
@import "../../../styles.scss";

$product-picture-size: calc(100vw - ($fourth-padding * 2));

.products-list {
  h5 {
    font-size: $double-font-size;
    padding-bottom: $triple-padding;
  }
  p {
    padding: $double-padding 0;
    text-align: left;
    font-size: $normal-font-size;
    max-width: $product-picture-size;
  }
  .image-and-filter-color {
    height: $product-picture-size;
    width: $product-picture-size;
    img {
      @include outline-picture;
      min-height: $product-picture-size;
      min-width: $product-picture-size;
    }
    .filter-color {
      z-index: $z-index + 1;
      border-radius: 8px;
      top: calc( 0px - $product-picture-size - 4px);
      min-height: calc($product-picture-size + 2px + 2px);
      width: calc($product-picture-size + 2px + 2px);
    }
  }
}

// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {

  $product-picture-size: 650px;

  .products-list{
    max-width: $product-picture-size;
    h5{
      width: 100%;
      text-align: left;
    }
    .image-and-filter-color {
      max-width: $product-picture-size;
      max-height: $product-picture-size;
      img{
        min-width: $product-picture-size;
        min-height: $product-picture-size;
      }
      .filter-color {
        top: calc( -650px - 4px);
        min-height: calc($product-picture-size + 2px + 2px);
        width: calc($product-picture-size + 2px + 2px);
      }
    }
  }
}

// Tablettes vers ordinateurs portables :
@media screen and (min-width: 992px) {
}

// Ordinateurs portables vers ordinateurs de bureau :
@media screen and (min-width: 1400px) {
}
