<app-h1 [titleChild]="'Actualités'"
        [backgroundImageChild]="backgroundImageParentHome"></app-h1>

@if (publicationsSpotlighted$() && publicationsSpotlighted$().length > 0) {
  <h3 class="flex center">Actus du moment</h3>
  <div class="publications flex column center">
    <div class="flex wrap space-between publications-section">
      @for (publication of publicationsSpotlighted$(); track publication) {
        <app-publication-thumbnail [publication]="publication"/>
      }
    </div>
  </div>
}

<h3 class="flex center">Toutes nos actualités</h3>

<app-change-size-pagination-and-value-search (onValueSearchChange)="onValuePageChange($event)"/>

@if (publications$() && publications$().length > 0) {

  <div class="publications flex column center">
    <div class="flex wrap space-between publications-section">
      @for (publication of publications$(); track publication) {
        <app-publication-thumbnail [publication]="publication"/>
      }
    </div>
  </div>

  <app-change-page-buttons-pagination (onPageChange)="onValuePageChange($event)"/>

} @else {
  <h4 class="flex center">Pas d'actualité.</h4>
}

