@if (workshop) {
  <div class="workshop flex"
      [ngClass]="!workshop.available ? 'unavailable' : 'pointer'"
      [routerLink]="'/ateliers/' + workshop.slug">
  @if(!workshop.available) {
    <div class="workshop-overlay flex center pointer">
      <p class="workshop-unavailable">INDISPONIBLE</p>
    </div>
  }
  <img [src]="fileService.getDataForImageSrc(workshop.pictureDto)" alt="Photo de l'atelier + {{ workshop.title }}">
  <div class="workshop-description flex column center">
    <h4 class="workshop-title"> {{ workshop.title }} </h4>
    <p class="workshop-address"> {{ workshop.date | date : 'dd/MM/yyyy à hh:MM' }} </p>
    <p class="workshop-address"> {{ workshop.address }} </p>

    @if (workshop.available && isFutureDate(workshop.date)) {
      <div class="flex space-between width80">
        @if (workshop.registrations - disponibility === 1) {
          <p class="registration flex center line-nowrap"> {{ workshop.registrations - disponibility }} place dispo.</p>
        } @else if (workshop.registrations - disponibility > 1) {
          <p class="registration flex center line-nowrap"> {{ workshop.registrations - disponibility }} places dispo.</p>
        }
        @if (workshop.price > 0) {
          <p> {{ workshop.price | customCurrency }} </p>
        } @else {
          <p>GRATUIT</p>
        }
      </div>

      @if (workshop.registrations - disponibility > 0) {
        <button class="btn-normal">
          S’inscrire
        </button>
      } @else {
        <button class="btn-normal btn-grey">
          COMPLET
        </button>
      }
    }
  </div>
</div>
} @else {
  <p>Pas d'Atelier trouvé.</p>
}
