@use "../../../scss/variables.scss" as variablesScss;

.title-functionality {
  margin-top: variablesScss.$half-margin;
  h4 {
    padding: 0;
    margin-right: variablesScss.$half-margin;
  }
  i {
    color: variablesScss.$lilac;
    font-size: variablesScss.$triple-font-size;
  }
}

.btns-admin-home {
  display: flex;
  flex-direction: column;
}
