@import "../scss/admin-button.scss";
@import "../scss/admin-form.scss";
@import "../scss/admin-table.scss";
@import "../scss/admin-toggle.scss";
@import "../../../scss/forms.scss";
@import "../../../scss/dropdowns.scss";

.title-functionality {
  margin-top: $half-margin;
  h4 {
    padding: 0;
    margin-right: $normal-margin;
  }
  i {
    color: $lilac;
    font-size: $triple-font-size;
  }
}
