@use "../../../scss/variables.scss" as variablesScss;

table {
  margin: variablesScss.$normal-margin auto 0 auto;
  border-collapse: collapse;
  width: 100%;
  background-color: transparent;
}

table {
  border-radius: 4px;
  border: 1px solid variablesScss.$lilac-dark;
  thead {
    background-color: variablesScss.$lilac-light;
    tr {
      td {
        border-bottom: 1px solid variablesScss.$lilac-dark;
        font-weight: bold;
        p {
          font-size: variablesScss.$normal-font-size;
          padding: variablesScss.$normal-padding;
        }
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid variablesScss.$lilac-dark;
      td {
        max-width: 50vw;
        vertical-align: middle;
        img {
          max-width: 80px;
          max-height: 80px;
        }
        p {
          font-size: variablesScss.$normal-font-size;
          padding: variablesScss.$normal-padding;
        }
        .text-left {
          padding-left: variablesScss.$normal-padding;
        }
        .title {
          white-space: nowrap;
          overflow: hidden;
        }
        i {
          color: variablesScss.$lilac-dark;
        }
      }
    }
  }
}

// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {
  table{
    width: 100%;
    tbody {
      tr {
        td {
          img {
            max-width: 160px;
            max-height: 160px;
          }
        }
      }
    }
  }
}
// Tablettes vers ordinateurs portables :
@media screen and (min-width: 992px) {
  table{
    width: 100%;
    tbody {
      tr {
        td {
          img {
            max-width: 160px;
            max-height: 160px;
          }
          p {
            font-size: variablesScss.$double-font-size;
          }
        }
      }
    }
  }
}
// Ordinateurs portables vers ordinateurs de bureau :
@media screen and (min-width: 1235px) {
}
