@use "../../../scss/variables.scss" as variablesScss;

.btn-admin {
  background-color: variablesScss.$lilac;
  color: variablesScss.$white;
  border-radius: variablesScss.$border-radius;
  border: solid 0.5px variablesScss.$lilac;
  padding: variablesScss.$double-padding;
}

.btn-submit-admin{
  @extend .btn-admin;
  background-color: variablesScss.$lilac-light;
  border : variablesScss.$white;
  color: variablesScss.$white;
  font-size: variablesScss.$fourth-font-size;
  font-weight: bolder;
  transition: background-color 0.2s linear;
  letter-spacing: 2px;
}

.btn-submit-admin:hover{
  background-color: variablesScss.$lilac;
}

.btn-medium-admin{
  background-color: variablesScss.$lilac;
  color: variablesScss.$white;
  border-radius: variablesScss.$border-radius;
  padding: variablesScss.$double-padding;
  font-size: variablesScss.$double-font-size;
  width: 32vw;
  max-width: 400px;
  box-shadow: 4px 4px 4px variablesScss.$lilac-dark;
  text-align: center;
}

.btn-admin-cancel,
.btn-admin-valid{
  @extend .btn-admin;
}

.btn-admin-cancel {
  background-color: variablesScss.$red;
}
.btn-admin-valid {
  background-color: variablesScss.$lilac-light;
}

// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {
}
// Tablettes vers ordinateurs portables :
@media screen and (min-width: 992px) {
}
// Ordinateurs portables vers ordinateurs de bureau :
@media screen and (min-width: 1235px) {
}
