<div class="title-functionality flex center">
  <h4>Créer un nouveau Matériel</h4>
  <i class="fa-solid fa-circle-plus"
     (click)="formHelper.isFormVisible = !formHelper.isFormVisible"
     [ngClass]="{'rotated45': formHelper.isFormVisible}"></i>
</div>

@if (formHelper.isFormVisible) {
  <form (ngSubmit)="(newMaterialForm.valid)"
        [formGroup]="newMaterialForm"
        #myForm="ngForm">

    <fieldset class="flex column">
      <label for="name">Libellé :</label>
      <input type="text"
            id="name"
            placeholder="Nom..."
            formControlName="name"
            autocomplete="off"/>

      @if (formHelper.isFormSubmit && myForm.submitted && newMaterialForm.controls['name'].invalid) {
        <div>
          @if (newMaterialForm.controls.name.errors?.['required']) {
            <small>Le libellé du matériel est obligatoire.</small>
          } @else if (newMaterialForm.controls.name.errors?.['maxlength']) {
            <small>Le libellé du matériel ne doit pas dépasser 255 charactères.</small>
          }
        </div>
      }
    </fieldset>

    <fieldset class="flex column">
      <label for="materialType">Quel Type de Matériel ?</label>
      <div class="dropdown-container">
        <div class="input-and-arrow flex">
          <input type="text"
                 id="materialType"
                 formControlName="materialType"
                 placeholder="Choississez le type de matériel..."
                 autocomplete="off"
                 class="pointer"
                 (focus)="toggleDropdown('Category')"
                 readonly/>
          <div class="arrow-icon flex center" (click)="toggleDropdown('Category')">
            @if (isCategoryDropdownOpen) {
              <i class="fa-solid fa-circle-chevron-down pointer"></i>
            } @else {
              <i class="fa-solid fa-circle-chevron-up pointer"></i>
            }
          </div>
        </div>

        <ul class="items-list" [ngClass]="{'dropdown-visible': isCategoryDropdownOpen}">
          @for (type of materialTypes(); track type) {
            <li (click)="onMaterialTypeClicked(type); toggleDropdown('Category') ">
              {{ type | titlecase }}
            </li>
          }
        </ul>
      </div>
      @if (myForm.submitted && formHelper.isFormSubmit && newMaterialForm.controls['materialType'].invalid) {
        <div>
          @if (newMaterialForm.controls.materialType.errors?.['required']) {
            <small>Le type de matériel est obligatoire.</small>
          }
        </div>
      }
    </fieldset>

    <fieldset class="flex column">
      <label for="price">Quel prix ?</label>
      <input type="number"
             id="price"
             formControlName="price"
             placeholder="€"
             min="0"/>
      @if (formHelper.isFormSubmit && newMaterialForm.controls['price'].invalid) {
        <div>
          @if (newMaterialForm.controls.price.errors?.['invalidPriceFormat']) {
            <small>Le prix doit avoir 2 chiffres après la virgule ' 9,99 '.</small>
          } @else if (newMaterialForm.controls.price.errors?.['invalidPrice']) {
            <small>Le prix ne peut pas être inférieur à 0€.</small>
          }
          @else if (newMaterialForm.controls.price.errors?.['required']) {
            <small>Le prix est obligatoire.</small>
          }
        </div>
      }
    </fieldset>

    <fieldset class="flex column">
      <label for="description">Description du matériel : </label>
      <editor [init]="toolBarConfig"
              id="description"
              placeholder="Description du matériel.."
              formControlName="description"
              autocomplete="off">
      </editor>
      <p [style.color]="newMaterialForm.get('description')!.value && newMaterialForm.get('description')!.value!.length > 65534 ? 'red': ''">{{ newMaterialForm.get('description')!.value | counterZeroIfEmpty }} caractères / 65.534 </p>
      @if (formHelper.isFormSubmit && newMaterialForm.controls['description'].invalid) {
        <div>
          @if (newMaterialForm.controls.description.errors?.['required']) {
            <small>La descritpion du matériel est requise.</small>
          } @else if (newMaterialForm.controls.description.errors?.['maxlength']) {
            <small>La descritpion du matériel ne doit pas dépasser 65.534 charactères.</small>
          }
        </div>
      }
    </fieldset>

    <fieldset class="flex column">
      <label for="pictureDto">Photo : </label>
      <input class="display-none"
             type="file"
             accept="{{fileService.getAllTypeAccepted()}}"
             (change)="fileService.onFileChange($event, 'picture')"
             #inputFile/>
      <input type="text"
             id="pictureDto"
             formControlName="picture"
             class="display-none"/>

      <small>Cliquez sur l'image pour en télécharger une. Privilégier un format PNG.</small>

      <div class="image-blur-icon" (click)="inputFile.click()">
        @if (fileService.picture) {
          <img [src]="fileService.getDataForImageSrc(fileService.picture)" alt="Photo à choisir pour le matériel en cours de carnet">
        }
        <i class="fa-solid fa-file-arrow-down flex center" [ngClass]="{'small-icon': fileService.picture, 'picture-selected': fileService.picture}"></i>      </div>

      @if (formHelper.isFormSubmit && newMaterialForm.controls['pictureDto'].invalid) {
        <div>
          @if (newMaterialForm.controls.pictureDto.errors?.['required']) {
            <small>L'image est boligatoire.</small>
          }
        </div>
      }
    </fieldset>

    <button class="btn-submit-admin"
            type="submit"
            (click)="submitNewMaterialForm()">
      Créer
    </button>
  </form>
}

