<app-return-admin-home/>
<h2>Gestion des Publications</h2>

<app-post-publication (newPublication)="post($event)"></app-post-publication>
<app-edit-delete-publication [publications]="publications"
                                            
                             (changePublicationSpotlight)="changeSpotlight($event)"
                             (publicationEdited)="put($event)"
                             (publicationToDelete)="showModal($event)">
</app-edit-delete-publication>

<anguille [message]="messageResponseFromBackend"/>
<app-modal [modalVisible]="modalVisible"
          [modalText]="modalText"
          [multipleChoice]="true"
          
          (responseForModal)="responseForModal($event)">
</app-modal>