<div class="title-functionality flex center">
  <h4 class="flex center">Gérer les Matériaux</h4>
  <i class="fa-solid fa-arrow-down"
     (click)="isTableVisible = !isTableVisible"
     [ngClass]="{'rotated180': isTableVisible}">
  </i>
</div>

@if (materials && isTableVisible) {
  <table>
    <thead>
      <tr>
        <td>
          <p>Dispo Prêt à l'emploi</p>
        </td>
        <td>
          <p>Dispo Personnalisation</p>
        </td>
        <td>
          <p>Libellé</p>
        </td>
        <td>
          <p>Type</p>
        </td>
        <td>
          <p>Prix</p>
        </td>
        <td>
          <p>Des.</p>
        </td>
        <td>
          <p>Image</p>
        </td>
        <td>
          <p>Modif.</p>
        </td>      
        <td>
          <p>Supp.</p>
        </td>
      </tr>
    </thead>
  
    <tbody>
      @for (material of materials; track material; let index = $index) {
        <tr [ngClass]="index % 2 ? 'bg-dark' : ''">
          <td>
            <div class="toggle-switch" (click)="changeAvailability(material)">
              <input class="toggle-input"
                     type="checkbox"
                     [checked]="material.available">
              <label class="toggle-label" for="toggle"></label>
            </div>
          </td>
          <td>
            <div class="toggle-switch" (click)="changeAvailabilityForCustomization(material)">
              <input class="toggle-input"
                     type="checkbox"
                     [checked]="material.availableForCustomization">
              <label class="toggle-label" for="toggle"></label>
            </div>
          </td>
          <td>
            <p class="flex text-left">{{ material.name | titlecase }}</p>
          </td>
          <td>
            <p class="title">
              {{ material.materialType | titlecase }}
            </p>
          </td>
          <td>
            <p> {{ material.price | addEuroCurrency }} </p>
          </td>
          <td>
            <i class="fa-solid fa-file-lines pointer flex center" (click)="openModalWithDescription(material.description)">
            </i>
          </td>
          <td class="flex center">
            <img src="{{material.picture}}" alt="Photo de {{material.name}}">
          </td>
          <td>
            <i [routerLink]="'/admin/editer-materiel/' + material.slug" class="fa-solid fa-pencil pointer flex center"></i>
          </td>
          <td>
            <i (click)="delete(material)" class="fa-solid fa-trash-can pointer flex center"></i>
          </td>
        </tr>
      }
    </tbody>
  </table>
} @else if (!materials || materials.length <= 0) {
  <h5>Aucun Article</h5>
}

<app-modal [modalVisible]="modalVisible"
           [modalText]="modalText"
        
           (responseForModal)="responseForModal($event)">
</app-modal>