<div class="title-functionality flex">
  <h4 class="flex center">Gérer les Matériaux</h4>
  <i class="fa-solid fa-arrow-down" (click)="isTableVisible = !isTableVisible" [ngClass]="{'rotated180': isTableVisible}"></i>
</div>

<div *ngIf="!materialsEditableChild || materialsEditableChild.length <= 0">Aucun Article</div>

<table *ngIf="materialsEditableChild && isTableVisible">
  <thead>
    <tr>
      <td>
        <p>Libellé</p>
      </td>
      <td>
        <p>Type</p>
      </td>
      <td>
        <p>Prix</p>
      </td>
      <td>
        <p>Description</p>
      </td>
      <td>
        <p>Image</p>
      </td>
      <td>
        <p>Modif.</p>
      </td>      
      <td>
        <p>Supp.</p>
      </td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let material of materialsEditableChild; let index = index"
        [ngClass]="index % 2 ? 'bg-dark' : ''">
      <td>
        <p *ngIf="!material.canEdit">{{ material.name | titlecase }}</p>
      </td>
      <td>
        <p class="article-title">
          {{ material.materialType | titlecase }}
        </p>
      </td>
      <td>
        <p class="article-title">
          {{ material.price | number: '0.2' }}
        </p>
      </td>
      <td>
        <i class="fa-solid fa-file-lines"></i>
      </td>
      <td>
        <img
          src="{{material.picture}}"
          alt="Photo de {{material.name}}"
        >
      </td>
      <td>
        <i [routerLink]="'/admin/editer-materiel/' + material.slug" class="fa-solid fa-pencil"></i>
      </td>
      <td>
        <i (click)="delete(material.slug)" class="fa-solid fa-trash-can flex center"></i>
      </td>
    </tr>
  </tbody>
</table>