<div class="home-page flex column center">

  <app-news-headband></app-news-headband>

  <app-h1
    [titleChild]="titleParentHome"
    [backgroundImageChild]="backgroundImageParentHome"
  ></app-h1>

  <section>
    <h2 class="pointer" routerLink="/atelier">Carnets Artisanaux</h2>
    <p>
      Pour vous organiser, vous détendre, égayer votre quotidien, ou simplement
      garder une trace de vos moments inoubliables, vous trouverez à l'atelier
      votre prochain agenda, album photos, bullet journal, carnet d’aquarelle,
      de croquis, de notes, ou de partition.
    </p>
    <app-images-preview [picturesArray]="handmadeNotebooksPictures">
    </app-images-preview>
  </section>
  <app-values></app-values>
  <section>
    <h2 class="pointer" routerLink="/atelier">Ateliers</h2>
    <p>
      Bienvenue dans notre atelier artisanal où la créativité rencontre
      l'expertise. Ici, chaque pièce est façonnée à la main avec passion et
      dévouement, reflétant l'art intemporel de l'artisanat. Découvrez nos
      artisans talentueux et plongez dans l'univers magique où naissent des
      œuvres uniques, empreintes d'authenticité et d'amour du métier.
    </p>
    <app-images-preview [picturesArray]="workshopPictures" >
    </app-images-preview>
  </section>

  <div class="image-and-filter-color image-biography"
       routerLink="/qui-suis-je">
    <!-- <img  class="pointer"
    [src]="backgroundImageBio" alt="Photo de l'artiste">
    <h2 class="flex center">A Propos...</h2>
    <div class="filter-color"></div> -->

      <img
      class="pointer"
      [src]="backgroundImageBio" alt="Photo de l'artiste"
      />
      <div class="filter-color"></div>


  </div>

  <section class="booktique-section flex">
    <div class="booktique-title-and-text flex column" #booktiqueSectionMonitored>
      <h2>Booktique</h2>
      <p>
        Explorez notre boutique exquise, où chaque objet raconte une histoire.
        Découvrez des trésors uniques, conçus avec passion, qui éveilleront vos
        sens et éblouiront votre quotidien.
      </p>
    </div>
    <div class="image-and-filter-color flex">
      <img
        src="../../../assets/images/figma/booktique.jpg"
        alt="Image d'une boutique d'artiste"
        #imgMonitored
      />
      <div class="filter-color pointer" routerLink="/booktique"></div>
    </div>
  </section>
  <button class="btn-normal pointer" routerLink="/booktique">Accéder à la Booktique</button>
</div>
