@import "../../scss/variables.scss";
@import "../../scss/buttons.scss";
@import "../../../styles.scss";

$customization-picture-size : 120px;

.creations-page{
  .cards-choice{
    margin-top: $normal-margin;
    width: 100vw;
  }
  .user-choice{
    margin-top: $normal-margin;
    padding: 0 $fourth-padding;
    h4{
      font-size: $triple-font-size;
      padding: $fourth-padding 0;
    }
    .similar-title{
      font-family: $font-family-title;
      font-size: $fourth-font-size;
      padding: $fourth-padding 0;
      letter-spacing: 4px;
    }
    .customization{
      .custom-card{
        padding-bottom : $fourth-padding;
        .image-and-filter-color{
          height: calc($customization-picture-size * 2);
          width: $customization-picture-size;
          img{
            @include outline-picture;
            min-height: calc($customization-picture-size * 2);
            min-width: $customization-picture-size;
          }
          .filter-color {
            z-index: $z-index + 1;
            border-radius: 8px;
            top: calc(0px - ($customization-picture-size * 2 ) - 4px);
            min-height: calc($customization-picture-size * 2);
            width: calc($customization-picture-size + 2px + 2px);
          }
        }
        .title-description{
          padding-left: $fourth-padding;
          h4{
            height : 20%;
            padding: 0px;
            display: flex;
            align-items: center;
          }
          p{
            height: 80%;
            text-align: left;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}

  //---------------------------------------
  //----for card animation-----------------
  //---------------------------------------
.card {
  position: relative;
  width: 190px;
  height: 190px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: $white;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 190px;
  border-radius: 10px;
  background: linear-gradient(-45deg, $lilac-dark 0%, $lilac-light 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, $lilac-dark 0%, $lilac-light 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: $triple-font-size;
  font-weight: 700;
  font-family: $font-family-title;
  letter-spacing: 3px;
}

.card p:not(.heading) {
  font-size: 14px;
}

.card p:last-child {
  color: $lilac-light;
  font-weight: 600;
  width: 100%;
  text-align: left;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.10) scaleY(0.98);
}

// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {
  .creations-page{
    .cards-choice{
      max-width: 650px;
    }
    .user-choice{
      max-width: 650px;
    }
  }
}
// Tablettes vers ordinateurs portables :
@media screen and (min-width: 992px) {
}

// Ordinateurs portables vers ordinateurs de bureau :
@media screen and (min-width: 1400px) {
}
