<div class="creations-page flex column center">
  <app-h1
  [titleChild]="titleParentCreations"
  [backgroundImageChild]="backgroundImageParentCreations"
  ></app-h1>

    <section class="user-choice flex column center"
            *ngIf="userChoice === 'notebook'">
      <h2>Carnets</h2>
      <p>Pour vous organiser, vous détendre, égayer votre quotidien,
        ou simplement garder une trace de vos moments inoubliables,
        vous trouverez à l'atelier votre prochain agenda, album photos,
        bullet journal, carnet d’aquarelle, de croquis, de notes,
        ou de partition.</p>
      <h3>Artisanat Responsable</h3>
      <p> Chaque carnet que nous fabriquons à la main est un hommage
        à l'artisanat authentique. Avec un engagement profond envers
        l'éco-responsabilité, chaque page est méticuleusement
        confectionnée pour stimuler votre créativité tout en respectant
        notre précieuse planète.</p>
      <h4>Modèles :</h4>
      <app-notebooks-list
      [notebooksListChild]="notebooksListPage"></app-notebooks-list>
      <h4>Encore plus de modèle içi...</h4>
      <button class="btn-normal pointer"
              routerLink="/carnets">
              Voir tous les modèles</button>

      <h2>Les "sur mesures"</h2>
      <p> Chaque carnet que nous fabriquons à la main est un hommage 
        à l'artisanat authentique. Avec un engagement profond envers 
        l'éco-responsabilité, chaque page est méticuleusement 
        confectionnée pour stimuler votre créativité tout en 
        respectant notre précieuse planète.</p>
      <p class="similar-title">A vous de choisir !!!</p>
      <div class="customization">
        <div class="custom-card flex">
          <div class="image-and-filter-color flex column">
            <img
            src="../../../assets/images/figma/reliure.jpg"
            alt="Photo d'une reliure"
            />
            <div class="filter-color"></div>
          </div>
          <div class="title-description">
            <h4>La reliure</h4>
            <p>Personnalisez votre expérience :
              Choisissez la reliure parmi nos
              options pour créer le livre
              parfaitement adapté à votre style.</p>
          </div>
        </div>
        <div class="custom-card flex">
          <div class="image-and-filter-color flex column">
            <img
            src="../../../assets/images/figma/papier.jpg"
            alt="Photo d'une reliure"
            />
            <div class="filter-color"></div>
          </div>
          <div class="title-description">
            <h4>Le type de papier</h4>
            <p>Exprimez-vous pleinement :
              Sélectionnez votre papier parmi
              nos variétés pour personnaliser
              chaque page selon votre préférence
              et votre inspiration.</p>
          </div>
        </div>
        <div class="custom-card flex">
          <div class="image-and-filter-color flex column">
            <img
            src="../../../assets/images/figma/couverture.jpg"
            alt="Photo d'une reliure"
            />
            <div class="filter-color"></div>
          </div>
          <div class="title-description">
            <h4>La couverture</h4>
            <p>Votre style, votre choix :
              Optez pour la couverture qui
              vous ressemble parmi nos options
              variées, pour un livre aussi
              unique que vous.</p>
          </div>
        </div>
        <div class="custom-card flex">
          <div class="image-and-filter-color flex column">
            <img
            src="../../../assets/images/figma/idée.jpg"
            alt="Photo d'une reliure"
            />
            <div class="filter-color"></div>
          </div>
          <div class="title-description">
            <h4>Votre thème</h4>
            <p>Libérez votre créativité :
              Choisissez un thème original
              à votre goût pour personnaliser
              votre livre et le rendre
              véritablement exceptionnel.</p>
          </div>
        </div>
      </div>
      <button class="btn-normal pointer" routerLink="/imaginer-mon-carnet"> Créer mon carnet</button>
    </section>
    <section class="user-choice flex column center"
            *ngIf="userChoice === 'workshop'">
      <h2>Ateliers</h2>
    </section>

</div>