<div class="title-functionality flex center">
  <h4>Créer un nouveau {{ productType | enumProductTypeFormat:'singular' | titlecase }}</h4>
  <i class="fa-solid fa-circle-plus"
     (click)="formHelper.isFormVisible = !formHelper.isFormVisible"
     [ngClass]="{'rotated45': formHelper.isFormVisible}"></i>
</div>

@if (formHelper.isFormVisible) {
  <form (ngSubmit)="(newProductForm.valid)"
        [formGroup]="newProductForm"
        #myForm="ngForm">

    <fieldset class="flex column">
    <label for="name">Nom :</label>
    <input type="text"
          id="name"
          placeholder="Nom..."
          formControlName="name"
          autocomplete="off"/>
    @if (formHelper.isFormSubmit && myForm.submitted && newProductForm.controls['name'].invalid) {
      <div>
        @if (newProductForm.controls.name.errors?.['required']) {
          <small>Le nom est obligatoire.</small>
        } @else if (newProductForm.controls.name.errors?.['maxlength']) {
          <small>Le nom ne doit pas dépasser 255 charactères.</small>
        }
      </div>
    }
    </fieldset>

    <fieldset class="flex column">
    <label for="pictureDto">Image Principale : </label>
    <input class="display-none"
          type="file"
          accept="image/png, image/jpeg, image/bmp, image/gif"
          (change)="fileService.onFileChange($event, 'picture')"
          #inputFile/>
    <input type="text"
           id="pictureDto"
           formControlName="pictureDto"
           class="display-none"/>

      <small>Cliquez sur l'image pour en télécharger une. Privilégier un format PNG.</small>

      <div class="image-blur-icon" (click)="inputFile.click()">
        @if (fileService.picture) {
          <img [src]="fileService.getDataForImageSrc(fileService.picture)" alt="Photo à choisir pour le produit en cours de création">
        }
        <i class="fa-solid fa-file-arrow-down flex center" [ngClass]="{'small-icon': fileService.picture}"></i>
      </div>

    @if (formHelper.isFormSubmit && newProductForm.controls['pictureDto'].invalid) {
      <div>
        @if (newProductForm.controls.pictureDto.errors?.['required']) {
          <small>L'image est boligatoire.</small>
        }
      </div>
    }
    </fieldset>

    <fieldset class="flex column">
      <label for="category">Catégorie :</label>
      <div class="dropdown-container">
        <div class="input-and-arrow flex">
          <input type="text"
                id="category"
                placeholder="Choississez la categorie..."
                autocomplete="off"
                class="pointer"
                formControlName="categoryDto"
                (click)="toggleDropdown('Category')"
                [value]="formHelper.getDtoNameByFormControlValue(newProductForm.get('categoryDto')!.value!)"
                readonly/>
          <div class="arrow-icon flex center">
            @if (isCategoryDropdownOpen) {
              <i class="fa-solid fa-circle-chevron-down pointer" (click)="toggleDropdown('Category')"></i>
            } @else {
              <i class="fa-solid fa-circle-chevron-up pointer" (click)="toggleDropdown('Category')"></i>
            }
          </div>
        </div>
        <ul class="items-list" [ngClass]="{'dropdown-visible': isCategoryDropdownOpen}">
          @for (category of categoriesDto$(); track category) {
            <li (click)="onValueSelected('categoryDto', category); toggleDropdown('Category') ">
              {{ category.name | titlecase }}
            </li>
          }
        </ul>
      </div>
      @if (formHelper.isFormSubmit && myForm.submitted && newProductForm.controls['categoryDto'].invalid ) {
        <div>
          @if (newProductForm.controls.categoryDto.errors?.['required']) {
            <small>La catégorie est obligatoire.</small>
          }
        </div>
      }
    </fieldset>

    <fieldset class="flex column">
      <label for="collection">Collection :</label>
      <div class="dropdown-container">
        <div class="input-and-arrow flex">
          <input type="text"
                id="collection"
                placeholder="Choississez la collection..."
                autocomplete="off"
                class="pointer"
                formControlName="collectionDto"
                (click)="toggleDropdown('Collection')"
                [value]="formHelper.getDtoNameByFormControlValue(newProductForm.get('collectionDto')!.value!)"
                readonly/>
          <div class="arrow-icon flex center">
            @if (isCollectionDropdownOpen) {
              <i class="fa-solid fa-circle-chevron-down pointer" (click)="toggleDropdown('Collection')"></i>
            } @else {
              <i class="fa-solid fa-circle-chevron-up pointer" (click)="toggleDropdown('Collection')"></i>
            }
          </div>
        </div>
        <ul class="items-list" [ngClass]="{'dropdown-visible': isCollectionDropdownOpen}">
          @for (collection of collectionsDto$(); track collection) {
            <li (click)="onValueSelected('collectionDto', collection); toggleDropdown('Collection') ">
              {{ collection.name | titlecase }}
            </li>
          }
        </ul>
      </div>
      @if (formHelper.isFormSubmit && myForm.submitted && newProductForm.controls['collectionDto'].invalid) {
        <div>
          @if (newProductForm.controls.collectionDto.errors?.['required']) {
            <small>La collection est obligatoire.</small>
          }
        </div>
      }
    </fieldset>

    <fieldset class="flex column">
      <label for="materials">Matériaux :</label>
      <div class="dropdown-container">
        <div class="input-and-arrow flex">
          <input type="text"
                id="materials"
                placeholder="Choississez le(s) matériel(aux)..."
                autocomplete="off"
                class="pointer"
                value="Selectionnez un (des) matériel(aux)"
                (click)="toggleDropdown('Materials')"
                readonly/>
          <div class="arrow-icon flex center">
            @if (isMaterialsDropdownOpen) {
              <i class="fa-solid fa-circle-chevron-down pointer" (click)="toggleDropdown('Materials')"></i>
            } @else {
              <i class="fa-solid fa-circle-chevron-up pointer" (click)="toggleDropdown('Materials')"></i>
            }
          </div>
        </div>
        <ul class="items-list" [ngClass]="{'dropdown-visible': isMaterialsDropdownOpen}">
          @for (material of materialsDto$(); track material) {
            <li (click)="addOrDeleteMaterial(material); toggleDropdown('Materials') ">
              {{ material.name | titlecase }} ( {{ material.materialType | titlecase }} )
            </li>
          }
        </ul>
        <table>
          <thead>
            <tr>
              <td>
                <p>Nom</p>
              </td>
              <td>
                <p>Prix</p>
              </td>
              <td>
                <p>Type</p>
              </td>
              <td>
                <p>Supp.</p>
              </td>
            </tr>
          </thead>
          <tbody>
            @if (!currentMaterials || currentMaterials.length < 1) {
              <tr>
                <td>
                  <p>Aucun matériel sélectionné</p>
                </td>
              </tr>
            } @else {
              @for (currentMaterial of currentMaterials; track currentMaterial) {
                <tr>
                  <td>
                    <p class="flex text-left"> {{ currentMaterial.name | titlecase }} </p>
                  </td>
                  <td>
                    <p> {{ currentMaterial.price | customCurrency }} €</p>
                  </td>
                  <td>
                    <p> {{ currentMaterial.materialType | titlecase }} </p>
                  </td>
                  <td>
                    <i (click)="addOrDeleteMaterial(currentMaterial)" class="fa-solid fa-trash-can pointer flex center"></i>
                  </td>
                </tr>
              }
            }
          </tbody>
        </table>
        <p>Total : {{ totalPriceMaterials() }}€</p>
      </div>

      @if (formHelper.isFormSubmit && myForm.submitted && newProductForm.controls['materialsDto'].invalid) {
        <div>
          @if (newProductForm.controls.materialsDto.errors?.['required']) {
           <small>Au moins un matériel est obligatoire.</small>
          }
        </div>
      }
    </fieldset>

    <fieldset class="flex column">
      <label for="price">Quel prix ?</label>
      <input type="number"
             id="price"
             formControlName="price"
             placeholder="0"/>
      @if (formHelper.isFormSubmit && newProductForm.controls['price'].invalid) {
        <div>
          @if (newProductForm.controls.price.errors?.['invalidPriceFormat']) {
            <small>Le prix doit avoir 2 chiffres après la virgule ' 9,99 '.</small>
          } @else if (newProductForm.controls.price.errors?.['invalidPrice']) {
            <small>Le prix ne peut pas être inférieur à 0€.</small>
          }
        </div>
      }
    </fieldset>

    <fieldset class="flex column">
      <label for="introduction">Introduction : </label>
      <editor
        [init]="toolBarConfig"
        id="introduction"
        placeholder="Introduction.."
        formControlName="introduction"
        autocomplete="off">
      </editor>
      <p [style.color]="newProductForm.get('introduction')!.value && newProductForm.get('introduction')!.value!.length > 65534 ? 'red': ''">{{ newProductForm.get('introduction')!.value | counterZeroIfEmpty }} caractères / 65.534 </p>

      @if (formHelper.isFormSubmit && newProductForm.controls['introduction'].invalid) {
        <div>
          @if (newProductForm.controls.introduction.errors?.['required']) {
            <small>L'introduction est requise.</small>
          } @else if (newProductForm.controls.introduction.errors?.['maxlength']) {
            <small>L'introduction ne doit pas dépasser 65.534 charactères.</small>
          }
        </div>
      }
    </fieldset>

    <fieldset class="flex column">
      <label for="description">Description complète : </label>
      <editor
        [init]="toolBarConfig"
        id="description"
        placeholder="Description.."
        formControlName="description"
        autocomplete="off">
      </editor>
      <p [style.color]="newProductForm.get('description')!.value && newProductForm.get('description')!.value!.length > 65534 ? 'red': ''">{{ newProductForm.get('description')!.value | counterZeroIfEmpty }} caractères / 65.534 </p>

      @if (formHelper.isFormSubmit && newProductForm.controls['description'].invalid) {
        <div>
          @if (newProductForm.controls.description.errors?.['required']) {
            <small>La description est requise.</small>
          } @else if (newProductForm.controls.description.errors?.['maxlength']) {
            <small>La description ne doit pas dépasser 65.534 charactères.</small>
          }
        </div>
      }
    </fieldset>

    <button class="display-none"
            type="submit"
            (click)="submitNewProductForm()"
            #submitForm>
      Créer
    </button>
  </form>

  <form [formGroup]="newSecondaryPictureForm"
        #myForm="ngForm">
    <fieldset class="flex column">
      <label>Images secondaires ?</label>
      <input class="display-none"
             type="file"
             accept="image/png, image/jpeg, image/bmp, image/gif"
             (change)="fileService.onFileChange($event, 'secondaryPicture')"
             #fileInputSecondaryPicture/>

      <small>Cliquez sur l'image pour en télécharger une.</small>

      <div class="image-blur-icon" (click)="fileInputSecondaryPicture.click()">
        <img class="pointer"
             src="{{ fileService.imageProductDefault.url }}"
             alt="Photo secondaire à choisir pour le produit"/>
        <i class="fa-solid fa-file-arrow-down flex center" [ngClass]="{'small-icon': fileService.picture}"></i>
      </div>

      <table>
        <thead>
          <tr>
            <td>
              <p>URL</p>
            </td>
            <td>
              <p>Image</p>
            </td>
            <td>
              <p>Supp.</p>
            </td>
          </tr>
        </thead>
        <tbody>
          @if (fileService.secondaryPictures && fileService.secondaryPictures.length > 0) {
            @for (secondaryPicture of fileService.secondaryPictures; track secondaryPicture) {
              <tr>
                <td>
                  <p class="flex text-left"> {{ secondaryPicture }} </p>
                </td>
                <td>
                  <img src="{{ fileService.getDataForImageSrc(secondaryPicture) }}" alt="image secondaire du produit {{ newProductForm.get('name')!.value }} en cours de selection">
                </td>
                <td>
                  <i (click)="addOrDeleteSecondaryPicture(secondaryPicture)" class="fa-solid fa-trash-can pointer flex center"></i>
                </td>
              </tr>
            }
          } @else if (!newProductForm.get('secondaryPicturesDto')!.value) {
            <tr>
              <td>
                <p>Aucune image secondaire ajoutée</p>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </fieldset>
  </form>

  <button class="btn-submit-admin"
          (click)="submitForm.click()">
    Créer
  </button>
}
