@use "../../scss/variables.scss" as variablesScss;
@use "../../scss/buttons.scss";

.images-preview {
  line-height: 0;
  margin: variablesScss.$normal-margin 0;
  .image-and-filter-color {
    height: 120px;
    img {
      @include variablesScss.outline-picture;
      margin: auto;
      height: 120px;
      width: 120px;
    }
    .filter-color {
      z-index: variablesScss.$z-index + 1;
      border-radius: 8px;
      top: calc(-120px - 4px); //car 2px de border à l'image, pour tout couvrir
      height: calc(120px + 2px + 2px);
      width: calc(120px + 2px + 2px); //car 2px de border à l'image, pour tout couvrir
    }
  }
}

// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {
  .images-preview {
    .image-and-filter-color {
      height: 180px;

      img {
        height: 180px;
        width: 180px;
      }

      .filter-color {
        top: calc(
          -180px - 4px
        ); //car 2px de border à l'image, pour tout couvrir
        height: calc(180px + 2px + 2px);
        width: calc(
          180px + 2px + 2px
        ); //car 2px de border à l'image, pour tout couvrir
      }
    }
  }
}

// Tablettes vers ordinateurs portables :
@media screen and (min-width: 992px) {
  .images-preview {
    .image-and-filter-color {
      height: 240px;

      img {
        height: 240px;
        width: 240px;
      }

      .filter-color {
        top: calc(-240px - 4px); //car 2px de border à l'image, pour tout couvrir
        height: calc(240px + 2px + 2px);
        width: calc(240px + 2px + 2px); //car 2px de border à l'image, pour tout couvrir
      }
    }
  }
}

// Ordinateurs portables vers ordinateurs de bureau :
@media screen and (min-width: 1400px) {}
