// @import "scss/variables";
@import "../src/app/scss/admin.scss";
@import "../src/app/scss/forms.scss";
@import "../src/app/scss/buttons.scss";
@import "../src/app/scss/table.scss";
@import "../src/app/scss/variables.scss";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  // width: 100%;
  scrollbar-color: transparent;
}
body {
  overflow-x: hidden;
  line-height: 1.2;
  margin-top: var(--height-header);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------ Flex Layouts ------ */
.flex {
  display: flex;
  &.row {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
  }
  &.column {
    flex-direction: column;
  }
  &.center {
    align-items: center;
    justify-content: center;
  }
  &.align-center {
    align-items: center;
  }
  &.justify-center {
    justify-content: center;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.space-around {
    justify-content: space-around;
  }
  &.wrap {
    flex-wrap: wrap;
  }
}

.pointer {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}

.display-none {
  display: none;
}

h1,
h2 {
  font-family: $font-family-title;
  line-height: 1;
}

h1,
h2,
h3 {
  width: 100%;
  text-align: center;
}

h1 {
  font-size: $max-font-size;
  color: $white;
  letter-spacing: 0.4rem;
}

h2 {
  font-size: $fourth-font-size;
  color: $lilac;
  letter-spacing: 0.3rem;
  margin: $normal-margin 0;
  // min-height: 50px;
}

h3 {
  font-size: $triple-font-size;
  letter-spacing: 0.2rem;
  margin: $double-padding 0;
}

p {
  font-family: $font-family-text;
  font-size: $double-font-size;
  text-align: center;
  line-height: 1.4em;
}

img {
  object-fit: cover;
  object-position: center;
}
.filter-color,
h1 {
  position: relative;
}
.filter-color {
  background-color: rgba($brown, 0.2);
}


// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {
}
// Tablettes vers ordinateurs portables :
@media screen and (min-width: 992px) {
  p {
    font-size: $normal-font-size;
    text-align: left;
    line-height: 1.4;
    letter-spacing: 0.2px;
  }
}

// Ordinateurs portables vers ordinateurs de bureau :
@media screen and (min-width: 1400px) {
}

html, body { 
  height: 100%;
}
body {
  // margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
