@use "../../scss/variables.scss" as variablesScss;

table {
  thead,
  tbody,
  tfoot {
    tr {
      .quantity-column,
      .label-column,
      .price-column {
        padding: variablesScss.$normal-padding;
        font-size: variablesScss.$double-font-size;
      }

      .quantity-column,
      .price-column  {
        width: max-content;
        text-align: center;
        div {
          p {
            padding: 0 variablesScss.$normal-padding;
          }
          i.pulse-remove {
            animation: exitCart 0.2s ease-in-out;
          }
          i.pulse-add {
            animation: enterCart 0.2s ease-in-out;
          }

        }
      }

      .label-column {
        width: 100%;
        text-align: left;
      }

      .total-by-type-column {
        text-align: right;
        font-weight: bold;
        padding: variablesScss.$double-padding variablesScss.$normal-padding;
      }
    }
  }
  thead {
    tr {
      th {
        color: variablesScss.$white;
        background-color: variablesScss.$lilac-dark-transparent;
        letter-spacing: 2px;
      }
    }
  }
}

app-checkout-form {
  width: 100%;
}

// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {
  table {
    max-width: variablesScss.$max-width-768px;
  }
}


