<app-h1 [titleChild]="'Panier'" [backgroundImageChild]="backgroundImageParentCreations"/>

@if (shoppingCart$().products.length < 1 && shoppingCart$().inscriptions.length < 1) {

  <h3>Votre panier est vide...</h3>
  <img src="../../../assets/images/figma/caddie-vide.jpg" alt="Un caddie miniature devant un ordinateur">
} @else {
  <h2>Actuellement dans le panier</h2>
  @if (shoppingCart$().products.length > 0) {
    <table>
      <thead>
        <tr>
          <th class="label-column"> Carnet </th>
          <th class="price-column"> Prix </th>
          <th class="quantity-column"> Nb. </th>
          <th class="price-column"> Total </th>
          <th class="quantity-column"> Supp. </th>
        </tr>
      </thead>
      <tbody>
        @for (product of shoppingCart$().products; track product; let index = $index) {
          <tr [ngClass]="index % 2 ? 'bg-dark' : ''">
            <td class="label-column"> {{ product.item.name }} </td>
            <td class="price-column line-nowrap flex column">
              <p [ngClass]="{'strike-through' : shoppingCartService.$userGiftCardActive() && shoppingCartService.$userGiftCardActive()!.percentage}"> {{ product.item.price | customCurrency }} </p>
              @if (shoppingCartService.$userGiftCardActive() && shoppingCartService.$userGiftCardActive()!.percentage) {
                <p> {{ shoppingCartService.applyDiscount(product.item.price) | customCurrency }} </p>
              }
            </td>
            <td class="quantity-column">
              <app-cart-item-quantity-manager [product]="product"/>
            </td>
            <td class="price-column line-nowrap flex column">
              <p [ngClass]="{'strike-through' : shoppingCartService.$userGiftCardActive() && shoppingCartService.$userGiftCardActive()!.percentage}"> {{ product.quantity * product.item.price | customCurrency }} </p>
              @if (shoppingCartService.$userGiftCardActive() && shoppingCartService.$userGiftCardActive()!.percentage) {
                <p> {{ product.quantity * shoppingCartService.applyDiscount(product.item.price) | customCurrency }} </p>
              }
            </td>
            <td class="quantity-column"> <i class="fa-solid fa-trash-can pointer" (click)="shoppingCartService.deleteItemToShoppingCart(product.item, 'products')"></i> </td>
          </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <th class="label-column  line-nowrap total-by-type-column" scope="row" colspan="4"> Total {{ shoppingCartService.counterQuantityByType('products') }} carnet(s) : </th>
          <td class="price-column line-nowrap total-by-type-column flex column">
            <p [ngClass]="{'strike-through' : shoppingCartService.$userGiftCardActive() && shoppingCartService.$userGiftCardActive()!.percentage}"> {{ shoppingCartService.priceByTypeWithDiscount('products', false) | customCurrency }} </p>
            @if (shoppingCartService.$userGiftCardActive() && shoppingCartService.$userGiftCardActive()!.percentage) {
              <p> {{ shoppingCartService.priceByTypeWithDiscount('products', true) | customCurrency }} </p>
            }
          </td>
        </tr>
      </tfoot>
    </table>
  }
  @if (shoppingCart$().inscriptions.length > 0) {
    <table>
      <thead>
        <tr>
          <th class="label-column"> Atelier </th>
          <th class="price-column"> Prix </th>
          <th class="quantity-column"> Nb. </th>
          <th class="price-column"> Total </th>
          <th class="quantity-column"> Supp. </th>
        </tr>
      </thead>
      <tbody>
      @for (inscription of shoppingCart$().inscriptions; track inscription; let index = $index) {
        <tr [ngClass]="index % 2 ? 'bg-dark' : ''">
          <td class="label-column"> {{ inscription.item.workshopDto.title }} ({{ inscription.item.workshopDto.date | date:'dd/MM/yy à hh:mm' }}) </td>
          <td class="price-column line-nowrap">
            <p [ngClass]="{'strike-through' : shoppingCartService.$userGiftCardActive() && shoppingCartService.$userGiftCardActive()!.percentage}"> {{ inscription.item.workshopDto.price | customCurrency }} </p>
            @if (shoppingCartService.$userGiftCardActive() && shoppingCartService.$userGiftCardActive()!.percentage) {
              <p> {{ shoppingCartService.applyDiscount(inscription.item.workshopDto.price) | customCurrency }} </p>
            }
          </td>
          <td class="quantity-column">
            <app-cart-item-quantity-manager [product]="inscription"/>
          </td>
          <td class="price-column line-nowrap flex column">
            <p  [ngClass]="{'strike-through' : shoppingCartService.$userGiftCardActive() && shoppingCartService.$userGiftCardActive()!.percentage}">
              {{ inscription.quantity * inscription.item.workshopDto.price | customCurrency }}
            </p>
            @if (shoppingCartService.$userGiftCardActive() && shoppingCartService.$userGiftCardActive()!.percentage) {
              <p> {{ inscription.quantity * shoppingCartService.applyDiscount(inscription.item.workshopDto.price) | customCurrency }} </p>
            }
          </td>
          <td class="quantity-column">
            <i class="fa-solid fa-trash-can pointer" (click)="deleteInscription(inscription)"></i> </td>
        </tr>
      }
      </tbody>
        <tfoot>
          <tr>
            <th class="label-column total-by-type-column" scope="row" colspan="4"> Total {{ shoppingCartService.counterQuantityByType('inscriptions') }} inscription(s) d'atelier(s) : </th>
            <th class="price-column line-nowrap total-by-type-column">
              <p [ngClass]="{'strike-through' : shoppingCartService.$userGiftCardActive() && shoppingCartService.$userGiftCardActive()!.percentage}"> {{ shoppingCartService.priceByTypeWithDiscount('inscriptions', false) | customCurrency }} </p>
              @if (shoppingCartService.$userGiftCardActive() && shoppingCartService.$userGiftCardActive()!.percentage) {
                <p> {{ shoppingCartService.priceByTypeWithDiscount('inscriptions', true) | customCurrency }} </p>
              }
            </th>
          </tr>
      </tfoot>
    </table>
  }

  <app-checkout-form></app-checkout-form>
}
