@import "../../scss/variables.scss";

form {
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  //justify-content: center;

  .gift-card-container {
    .gift-card-input-and-button {
      button {
        margin-top : $normal-margin;
        height: 40px;
        padding: 0 $normal-padding;
        font-size: $normal-font-size;
      }
    }
    .discount-details {
      width: 100%;
      text-align: left;
    }
  }
}

.total-resume {
  text-align: right;
  font-weight: bold;
  padding: $double-padding $normal-padding 0 $normal-padding;
}

.total-price {
  width: 100%;
  text-align: right;
  font-weight: bolder;
  font-size: $triple-font-size;
  padding-top: $triple-padding ;
}

// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {
  .total-price {
    max-width: $max-width-768px;
  }
}
