@use "../../scss/variables.scss" as variablesScss;
@use "../../scss/forms.scss";
@use "../../scss/dropdowns.scss";
@use "../../scss/buttons.scss";

form {
  flex-direction: column;
  width: 100%;
  align-items: flex-start;

  .gift-card-container {
    .gift-card-input-and-button {
      button {
        min-width: 20%;
        margin-top : variablesScss.$half-margin;
        padding: 0 variablesScss.$normal-padding;
        font-size: variablesScss.$normal-font-size;
      }
    }
    .discount-details {
      width: 100%;
      text-align: left;
    }
  }
}

.total-resume {
  text-align: right;
  font-weight: bold;
  padding: variablesScss.$double-padding variablesScss.$normal-padding 0 variablesScss.$normal-padding;
}

.total-price {
  width: 100%;
  text-align: right;
  font-weight: bolder;
  font-size: variablesScss.$triple-font-size;
  padding-top: variablesScss.$triple-padding ;
}

// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {
  .total-price {
    max-width: var(--max-width);
  }
}
