<div class="shopping-products-list flex column center">
  @if (productsDto$().length > 0) {
    <h3 class="flex center">Liste des modèles</h3>
    <div class="products-list flex center">
      @for (product of productsDto$(); track product; let index = $index) {
        <div class="product-container flex space-around">
          <img src="{{ product.pictureThumbnail }}"
               alt="Image du Carnet {{ product.name }}"
               [routerLink]="['/produits', product.slug]"
               class="pointer">
          <div class="product-description flex column center space-between">
            <h4> {{ product.name | titlecase }} </h4>
            <p> {{ product.price | number: '0.2' }} €</p>
            <p class="desktop-only product-introduction" [innerHTML]="product.introduction"></p>
            <app-cart-item-quantity-manager [product]="{item:product, quantity: shoppingCartService.counterQuantity(product, 'products')}"/>
          </div>
        </div>
        @if (index + 1 < productsDto$().length) {
          <hr class="mobile-only"/>
        }
      }
    </div>
  } @else {
    <h3>N'hésitez pas à revenir plus tard pour découvrir nos nouveautés !</h3>
  }
</div>
